@charset "UTF-8";

BODY {
	margin: 20px 0px 20px 0px;
	background-color: white;
/* 	font-family: arial; */
	font-size: 12pt;
	}
	
.page{
	display: block;
	width: 1100px;
/* 	overflow: auto; */
	margin: 0px auto 0px auto;
	box-sizing: border-box;
	}
	
.pageHeader{
	clear: none;
	min-height: 170px;
	width: 100%;
	box-sizing: border-box;

	}
.logo{
	clear: none;
	min-height: 120px;
	
/* 	background-image: url("../Images/Common/logo.png"); */
/* 	background-position: center; */
/* 	background-repeat: no-repeat; */
}

.pageNavigationBar{
	position: absolute;
	text-align: center;
	float: left;
	clear: none;
	min-height: 57px;
	width: 1100px;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.6);
	}
	
.pageContent{
	background-color: #FFFFFF;
	clear: none;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	}
	
.pageFooter{
	float: left;
	clear: none;
	min-height: 50px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	}
	
	



nav#top_menu ul{list-style:none;
font-family: verdana,Geneba,sans-serif;
font-size: 13px;font-weight: 100;color: black;}

nav#top_menu li{float: left;margin: 0 5px;}

nav#top_menu .CategoryMiddle a{display: block; height: 20px;
padding: 10px; text-decoration: none;color: black;}

nav#top_menu .Cart{float: right;}
nav#top_menu .MyPage{float: right;width: 40px;height: 40px;}
nav#top_menu .Search{float: right;}

nav input {border:none;border-bottom:1px solid gray; }

nav#top_menu a:hover{
	background-repeat: repeat-x;
/* 	background-position: bottom; */
	}
.fixed {
	position: fixed;
	top: 0px;
}
	
/* footer */
.FooterMenu ul{list-style:none;
font-family: verdana,Geneba,sans-serif;
font-size: 13px;font-weight: 100;color: black;}

.FooterMenu li{float: left;margin: 0 5px;}

.FooterMenu .FooterLink a{display: block; height: 20px;
padding: 10px; text-decoration: none;color: #7d7d7d;}

.FooterMenu .FamilySite{float: right;}
.FooterMenu .Facebook{float: right;width: 40px;height: 40px;}
.FooterMenu .Instagram{float: right;}

.FooterInfo {margin-top: 20px;}

.FooterInfo .Customer{width: 50%;float: left;
        box-sizing: border-box;
        color:#7d7d7d;
        font-size: 15px;}
.FooterInfo .Customer .TwoButton{
	padding-left:100px;
}
        
.FooterInfo .Infomation{width: 50%;float: right;
        box-sizing: border-box; color:#7d7d7d;
        font-size: 12px;
        text-align: left;}



.FooterInfo ul{list-style:none;
font-family: verdana,Geneba,sans-serif;
font-size: 13px;font-weight: 100;color: 7d7d7d;}

.FooterInfo li{margin: 0 5px;}

.FooterInfo li a{float: left; height: 20px;
padding: 10px auto; text-decoration: none;color: #7d7d7d;
}


/* -------------------------------------------------------- */
/* home/ main ad1 */
.Ad1left{ height: 200px; margin: 0 auto;}
.Ad1left{ width: 50%;float: left;}
.Ad1right{ width: 50%;float: right;}



/* 컨테이너 */
.bestcontainer {
	
  width: 100%;
  display: grid;
 grid-template-rows: repeat(2, 280px);
  grid-template-columns: repeat(5, 210px);
  margin: 30px auto;
}

.best_content{
	 width: 200px;
}	
	
	