@charset "utf-8";
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ html defalut ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//fonts.googleapis.com/css?family=Saira+Condensed); /*font-family:'Saira Condensed'*/


@media (max-width:359px) {html{font-size:15px;}}
@media (min-width:360px) and (max-width:381px) {html{font-size:16px;}}
@media (min-width:382px) and (max-width:404px) {html{font-size:17px;}}
@media (min-width:405px) and (max-width:426px) {html{font-size:18px;}}
@media (min-width:427px) and (max-width:449px) {html{font-size:19px;}}
@media (min-width:450px) and (max-width:471px) {html{font-size:20px;}}
@media (min-width:472px) and (max-width:494px) {html{font-size:21px;}}
@media (min-width:495px) and (max-width:516px) {html{font-size:22px;}}
@media (min-width:517px) and (max-width:539px) {html{font-size:23px;}}
@media (min-width:540px) and (max-width:561px) {html{font-size:24px;}}
@media (min-width:562px) and (max-width:584px) {html{font-size:25px;}}
@media (min-width:585px) and (max-width:719px) {html{font-size:26px;}}
@media (min-width:720px) {html{font-size:26px;}}


html, body {width:100%; margin:0; padding:0;}

body {background-color:#ffffff; position:relative; min-width:320px;}

body, th, td, p, input, button, textarea, select, div, xmp {font-family:'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif; color:#808080; line-height:100%;}

img {border:none;}

a, input, textarea, select {outline:none; -webkit-appearance: none; -moz-appearance: none; border-radius:0;}

dfn {display:none;}

ul, ol, dl {padding:0; margin:0;}
li, dt, dd {padding:0; margin:0; list-style:none;}
li         {float:left;}

div, p, span, input, select, textarea, a, ul, li, dd, dt, dl { 
	box-sizing: border-box !important; 
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
}


select {-webkit-appearance: none; -moz-appearance:none; appearance:none;}
select::-ms-expand { display:none; }



input[type=checkbox] {appearance:none; -moz-appearance:none; -webkit-appearance:none;/*checkbox*/; width:27px; height:27px; padding:0; margin:0; display:inline-block; display:inline-block; vertical-align:middle; border-radius:3px; border:1px solid #000000; background-color:#ffffff; width:27px; height:27px;} 
input[type=checkbox]:checked {background-image:url(/Images/Ver1/Common/check_27.png); background-repeat:no-repeat; background-size:27px 27px; background-position:center;}

input[type=radio] {appearance:none; -moz-appearance:none; -webkit-appearance:none;/*radio*/; width:27px; height:27px; padding:0; margin:0; display:inline-block; display:inline-block; vertical-align:middle; border-radius:50%; border:1px solid #000000; background-color:#ffffff; width:27px; height:27px;} 
input[type=radio]:checked  {background-image:url(/Images/Ver1/Common/radio_27.png); background-repeat:no-repeat; background-size:27px 27px; background-position:center;}

input[type=checkbox]::-ms-check {border-radius:3px; border-color:#000000;} 
input[type=checkbox]:checked::-ms-check {padding:25%;} 

input[type=radio]::-ms-check {border-radius:50%; border-color:#000000;} 
input[type=radio]:checked::-ms-check {padding:1px;} 




.btn_top {display:none; position: fixed; bottom: 4.3rem; right: 0.9375rem; width: 2.25rem; height: 2.25rem; z-index: 998;}
.btn_top img {width:100%;}



.clear     { display:block; clear:both; }
.none      { display:none !important; }
.hidden    { visibility:hidden; }

.lt { text-align:left !important;   }
.rt { text-align:right !important;  }
.ct { text-align:center !important; }

.fl { float:left; }
.fr { float:right; }

a:link, a:visited, a:active, a:hover { text-decoration:none; color:#808080; }
a:hover                              { }
a.privacy {/*font-weight:bold;*/color:#3a4b59;}

input[type=button]{cursor:pointer;}

.grade1 { color:#88d0cc !important;}
.grade2 { color:#da6ca8 !important;}
.grade3 { color:#66afdf !important;}
.grade4 { color:#fad668 !important;}
.grade5 { color:#bbbcbe !important;}

.tableDiv {display:table; width:100%;}
.tableDiv dl {display: table-row;}
.tableDiv dt {display: table-cell; vertical-align:top; position:relative;}
.tableDiv dd {display: table-cell; vertical-align:top; position:relative;}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ common header and footer ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

#CommonHeaderArea {display:block;}
#CommonHeader {display:block; border-bottom:1px solid #e4e4e4; width:100%; position:absolute; z-index:999; left:0; top:0; background-color:#ffffff; opacity:1;}

#CommonHeader .OtherBrand {height:57px; border-bottom:1px solid #e4e4e4;}
#CommonHeader .OtherBrand ul {display:block; height:57px; width:1200px; margin:0 auto;}
#CommonHeader .OtherBrand li {margin:18px 28px 0 0; }
#CommonHeader .OtherBrand li img {width:auto; height:26px;}

#CommonHeader a.MainLogo {width:260px; height:46px; margin:80px auto 60px; display:block;}
#CommonHeader a.MainLogo img {width:260px; height:46px;}

#CommonHeader a.MainLogoScroll {width:180px; height:32px; margin:24px auto 4px; display:none;}
#CommonHeader a.MainLogoScroll img {width:180px; height:32px;}

#CommonHeader .CategoryLarge {height:57px;}
#CommonHeader .CategoryLarge ul {display:block; height:57; width:1200px; margin:0 auto; position:relative;}
#CommonHeader .CategoryLarge li.CategoryMiddle {margin:15px 35px 0 0;}
#CommonHeader .CategoryLarge li.CategoryMiddle a {font-size:18px; color:#000000;}

#CommonHeader .CategoryLarge li.Search {float:right; width:185px; height:40px; border-bottom:2px solid #787878; margin:5px 0 0 0;}
#CommonHeader .CategoryLarge li.Search .CommonSearch input#kwd {display:inline-block; background-color:#ffffff; border:0; padding:0; margin:0; width:145px; height:35px; line-height:35px; vertical-align:top; font-size:16px; color:#000000;}
#CommonHeader .CategoryLarge li.Search .CommonSearch a {display:inline-block; width:40px; height:35px; vertical-align:top;}
#CommonHeader .CategoryLarge li.Search .CommonSearch img {width:40px; height:35px;}

#CommonHeader .CategoryLarge li.MyPage {float:right; margin:5px 0 0 1px; position:relative;}
#CommonHeader .CategoryLarge li.MyPage a {display:block; width:40px; height:40px;}
#CommonHeader .CategoryLarge li.MyPage img {width:40px; height:40px; padding:0 0 15px 0;}

#CommonHeader .CategoryLarge li.MyPage a#LoginBalloon {position:absolute; z-index:1; left:-14px; top:-33px; width:69px; height:34px;}
#CommonHeader .CategoryLarge li.MyPage a#LoginBalloon img {width:69px; height:34px;}
#CommonHeader .CategoryLarge li.MyPage .btnBallon { display:block; position:absolute; z-index:2; right:-15px; top:-33px; width:22px; height:25px; }

#CommonHeader .CategoryLarge li.Cart   {float:right; margin:5px 0 0 1px;}
#CommonHeader .CategoryLarge li.Cart a {display:block; width:40px; height:40px; position:relative;}
#CommonHeader .CategoryLarge li.Cart .num { display:block; position:absolute; bottom:0; right:0; background-color:#e71e22; width:20px; line-height:20px; font-size:11px; color:#ffffff; text-align:center; border-radius:10px; }
#CommonHeader .CategoryLarge li.Cart img {width:40px; height:40px;}

#MyInfoSummary {position:absolute; left:199px; width:960px; height:284px; padding-top:23px; display:none; opacity:1;}
/*#MyInfoSummary {position:absolute; left:199px; width:960px; height:284px; padding-top:118px; display:none; opacity:1;}*/
#MyInfoSummary .MyInfoSummaryWrap {height:267px; background-color:#ffffff; border:2px solid #717171; border-radius:5px; padding:30px;}

/*.MyInfoSummaryArea {position:fixed; width:100%; z-index:998; top:280px;} 상단 로고 삭제 전*/
.MyInfoSummaryArea {position:fixed; width:100%; z-index:998; top:223px;}
.MyInfoSummaryArea .AreaInner {position:relative; width:1200px; margin:0 auto;}

.trMyInfoSummary .tdCont {height:205px; width:550px;}
.trMyInfoSummary .tdGap  {height:205px; width:30px;}
.trMyInfoSummary .tdText {height:205px; width:316px; background-color:#f8f8f8; vertical-align:middle; padding-left:20px; border-radius:10px; font-size:14px; line-height:28px; color:#000000; text-align:left;}
.trMyInfoSummary .tdText b {font-size:20px; line-height:20px; display:block; text-align:left; padding-bottom:10px;}

.trMyInfoSummary .tdCont .MyInfoName     {float:left; font-size:38px; color:#000000; line-height:38px;}
.trMyInfoSummary .tdCont .MyInfoName a   {color:#000000; font-weight:bold;}
.trMyInfoSummary .tdCont .MyInfoName img {height:35px; width:auto; vertical-align:top; margin:3px 7px 0 0;}
.trMyInfoSummary .tdCont .MyInfoName sub {display:inline-block; width:20px; height:20px; margin:0 0 4px 6px; background-image:url(/Images/Ver1/Common/circle_gt.png); background-repeat:no-repeat; background-size:20px 20px;}
.trMyInfoSummary .tdCont .MyInfoBtn      {float:right; text-align:right; font-size:17px; line-height:38px;}
.trMyInfoSummary .tdCont .MyInfoBtn span {margin:0 10px;}
.trMyInfoSummary .tdCont .MyInfoMidGap   {clear:both; height:26px;}

.trMyInfoSummary .tdCont .MyInfoDetail   {float:left; background-color:#f8f8f8; height:145px; text-align:center; padding-top:30px; font-size:20px;}
.trMyInfoSummary .tdCont .MyInfoDetail b {display:block; font-weight:normal; text-align:center; color:#e71f22; padding-top:30px; font-size:36px;}
.trMyInfoSummary .tdCont .MyInfoDetail.Mileage {width:211px; border-radius:10px 0 0 10px;}
.trMyInfoSummary .tdCont .MyInfoDetail.Coupon {width:128px;}
.trMyInfoSummary .tdCont .MyInfoDetail.Order {width:211px; border-radius:0 10px 10px 0;}


#CommonFooter {display:block; border-top:1px solid #e4e4e4; padding:23px 0 42px;}
#CommonFooter .FooterMenu {height:30px;}
#CommonFooter .FooterMenu ul {display:block; height:30px; width:1200px; margin:0 auto;}

#CommonFooter .FooterMenu li.FooterLink {height:30px; line-height:30px; margin:0 24px 0 0;}
#CommonFooter .FooterMenu li.FooterLink a {font-size:14px;}

#CommonFooter .FooterMenu li.Instagram {float:right; margin:0 12px 0 0;}
#CommonFooter .FooterMenu li.Instagram a {display:block; width:30px; height:30px;}
#CommonFooter .FooterMenu li.Instagram img {width:30px; height:30px;}
#CommonFooter .FooterMenu li.Facebook {float:right; margin:0 12px 0 0;}
#CommonFooter .FooterMenu li.Facebook a {display:block; width:30px; height:30px;}
#CommonFooter .FooterMenu li.Facebook img {width:30px; height:30px;}

#CommonFooter .FooterMenu li.FamilySite {float:right; margin:0; width:150px;}
#CommonFooter .FooterMenu li.FamilySite select {display:block; border:1px solid #838383; width:150px; height:30px; padding:0 9px; font-size:14px; background-color:#ffffff; background-image:url(/Images/Ver1/Common/select_bg.png); background-repeat:no-repeat; background-size:36px 9px; background-position:center right;}

#CommonFooter .FooterInfo {padding-top:39px;}
#CommonFooter .FooterInfo ul {display:block; width:1200px; margin:0 auto;}

#CommonFooter .FooterInfo li.CallCenter {width:330px; font-size:13px; line-height:13px;}
#CommonFooter .FooterInfo li.CallCenter b.string {display:block; font-weight:normal; font-size:24px; line-height:24px; color:#000000; padding-bottom:5px;}
#CommonFooter .FooterInfo li.CallCenter b.number {display:block; font-family:'Saira Condensed'; font-size:37px; line-height:37px; color:#000000; padding-bottom:10px;}
#CommonFooter .FooterInfo li.CallCenter small {display:block; font-size:12px; color:#3a4b59; line-height:12px; padding-top:10px;}

#CommonFooter .FooterInfo li.TwoButton {width:290px;}
#CommonFooter .FooterInfo li.TwoButton a {display:inline-block; width:115px; height:115px; border:3px solid #cecece; margin:0 7px 0 0; font-size:13px; line-height:13px; text-align:center; border-radius:8px;}
#CommonFooter .FooterInfo li.TwoButton img {display:block; margin:20px auto 5px; width:50px; height:50px;}

#CommonFooter .FooterInfo li.Information {width:580px; font-size:12px; line-height:20px;}
#CommonFooter .FooterInfo li.Information big {font-size:16px;}
#CommonFooter .FooterInfo li.Information a.BizInfo {display:block; width:100px; height:24px; line-height:22px; border:1px solid #787878; border-radius:3px; text-align:center; margin:5px 0;}


#CommonHeaderArea_M {display:none;}
#CommonHeader_M {display:none; width:100%; height:4.1rem; background-color:#ffffff; position:relative;}
#CommonHeaderMenu_M {display:block; width:100%; height:4.1rem; border-bottom:1px solid #e4e4e4; width:100%; padding:0.78125rem;}
#CommonHeaderSearch_M {display:none; width:100%; height:4.1rem; border-bottom:1px solid #e4e4e4; width:100%; padding:0.78125rem;}

.trMobileMenu .tdBtn {width:2.4375rem; height:2.4375rem;}
.trMobileMenu .tdBtn a { position:relative; display:block; width:2.4375rem; height:2.4375rem;}
.trMobileMenu .tdBtn .num { position:absolute; bottom:0; right:-3px; display:block; color:#ffffff; background-color:#e71e22; width:1.40625rem; line-height:1.40625rem; font-size:0.78125rem; text-align:center;  border-radius:0.6875rem; }
.trMobileMenu .tdBtn img {width:2.4375rem; height:2.4375rem;}
.trMobileMenu .tdLogo {width:*; height:2.4375rem;}
.trMobileMenu .tdLogo a {display:block; width:8.486rem; height:2.4375rem; margin:0 auto;}
.trMobileMenu .tdLogo a.left {margin:0;}
.trMobileMenu .tdLogo img {width:8.486rem; height:2.4375rem;}
.trMobileMenu .tdKwd {width:*; height:2.4375rem;}
.trMobileMenu .tdKwd .CommonSearch {width:100%; border-bottom:2px solid #717171;}
.trMobileMenu .tdKwd .CommonSearch input#kwd_M {display:block; background-color:#ffffff; padding:0; margin:0; width:100%; height:2.4375rem; line-height:2.4375rem; vertical-align:top; font-size:1rem; color:#000000; border:0;}

#MobileMenuBackground {position:fixed; z-index:10000; display:none; top:0; left:0; width:100%; height:100%; background-color:#000000; opacity:0;}
#MobileMenuBody       {position:fixed; z-index:10001; right:100%; top:0; width:70%; height:100%; background-color:#ffffff; overflow-y:scroll;}

.MobileMenuWrap {padding:0.78125rem 0.78125rem 0.875rem 1rem;}

.MobileMenuCategory {padding:0.5625rem 1rem 1rem;}
.MobileMenuCategory p {border-bottom:1px solid #cccccc; width:100%; margin:0;}
.MobileMenuCategory p a {display:block; width:100%; height:2.3rem; line-height:2.3rem; color:#000000; text-align:left; padding:0 0 0 0.28125rem; font-size:0.9rem;}


.MobileLoginBefore {padding:0.5rem 0; background-color:#f5f5f5;}
.trMobileLoginBefore dt {width:4.5rem; padding:0 1rem;}
.trMobileLoginBefore dt img {width:2.5rem; height:2.5rem;}
.trMobileLoginBefore dd {width:*; padding:0 1rem 0 0;}
.trMobileLoginBefore dd a {display:block; width:100%; height:2rem; line-height:1.8rem; margin:0.25rem 0 0.25rem 0; text-align:center; border:1px solid #717171; border-radius:3px; color:#717171; font-size:0.9rem;}

.MobileLoginAfter {padding:0 1rem;}

.MobileMyInfo  {background-color:#ededed; padding:0 0.46875rem;}
.MobileMyReceipt  {background-color:#ededed; padding:0.675rem 0.625rem 0.675rem 0.8125rem; margin:10px 0 0 0;}
.MobileMyReceipt span {font-weight:bold; color:#000; font-size:0.9rem;}
.MobileMyReceipt a:nth-child(2) img {vertical-align:middle; width:1.0rem;}
.MobileMyReceipt a:nth-child(3) img {vertical-align:middle; width:0.8rem; float:right; padding:0.3rem 0;}


.trMobileMyInfo .tdName {width:*; padding:0.625rem 0 0.78125rem;}
.trMobileMyInfo .tdName a   {color:#000000; font-size:1.25rem; line-height:1.45rem; font-weight:bold;}
.trMobileMyInfo .tdName img {height:1.25rem; width:auto; vertical-align:top; margin:0.15rem 0.21875rem 0.05rem 0;}
.trMobileMyInfo .tdName sub {display:inline-block; width:0.7rem; height:0.7rem; margin:0 0 0.2rem 0.21875rem; background-image:url(/Images/Ver1/Common/circle_gt.png); background-repeat:no-repeat; background-size:0.7rem 0.7rem;}

.trMobileMyInfo .tdBtn {width:3.375rem; padding:0.625rem 0 0.78125rem;}
.trMobileMyInfo .tdBtn a {display:block; width:4rem; height:1.45rem; line-height:1.35rem; background-color:#727272; font-size:0.8rem; text-align:center; border-radius:3px; color:#ffffff;}

.trMobileMyInfoDetail .td {background-color:#ffffff; text-align:center; padding:0.5rem 0 0.6rem; font-size:0.9rem;}
.trMobileMyInfoDetail .td a {color:#666666;}
.trMobileMyInfoDetail .td b {display:block; font-weight:normal; text-align:center; color:#e71f22; padding-top:0; font-size:1.1rem; padding-top:0.4rem;}
.trMobileMyInfoDetail .td.Mileage {width:39%; border-radius:0.46875rem 0 0 0.46875rem}
.trMobileMyInfoDetail .td.Coupon {width:22%;}
.trMobileMyInfoDetail .td.Order {width:39%; border-radius:0 0.46875rem 0.46875rem 0;}

.MobileMyMembership {background-color:#ededed; padding:0.46875rem;}
.MobileMyMembershipWrap {background-color:#ffffff; text-align:center; padding:0.6rem 0; font-size:0.75rem; border-radius:0.46875rem; color:#92b8cf;}
.MobileMyMileage {text-align:center; font-size:1.375rem; line-height:1.375rem; margin-top:0.4rem;}
.MobileMyMileage a {color:#92b8cf; font-weight:bold;}
.MobileMyMileage img {width:1.8125rem; height:0.9375rem; vertical-align:top; margin:0.21875rem 0.25rem;}

.MobileMyBarcode {padding-top:0.5rem; position:relative;}
.MobileMyBarcode a.BarcodeSample {display:block; width:5rem; height:2.5rem; margin:0 auto;}
.MobileMyBarcode a.BarcodeSample img {width:5rem; height:2.5rem;}
.MobileMyBarcode a.BarcodeClick {position:absolute; z-index:1; right:0.6rem; bottom:0; width:0.9375rem; height:0.9375rem; display:block;}
.MobileMyBarcode a.BarcodeClick img {width:0.9375rem; height:0.9375rem;}

#CommonFooter_M {display:none; border-top:1px solid #e4e4e4; padding:1rem 0 2.34375rem; line-height:0.84375rem; font-size:0.6875rem;}
#CommonFooter_M .FooterMenu {font-size:0.8rem; text-align:center;}
#CommonFooter_M .FooterMenu a {font-size:0.8rem;}
#CommonFooter_M .FooterMenu span {font-size:0.8rem; margin:0 0.6875rem; color:#aaaaaa;}

#CommonFooter_M .FooterMenu li.swiper-slide { width:auto; border-left:1px solid #aaaaaa; padding:0 1.0rem;}
#CommonFooter_M .FooterMenu li.swiper-slide:nth-child(1) { border-left:0; }
#CommonFooter_M .FooterMenu li.swiper-slide:nth-child(4) a { color:#3a4b59; }
#CommonFooter_M .FooterMenu li.swiper-slide a { font-size:0.8rem; width:auto; line-height:1.125rem; color:#aaaaaa;  }


#CommonFooter_M .FooterInfo {padding-top:0.9rem;}
#CommonFooter_M .FooterInfo .CallCenter {text-align:center; font-size:0.7rem;}
#CommonFooter_M .FooterInfo .CallCenter b {display:block; color:#000000; font-weight:normal; font-size:1.4rem; line-height:1.5rem;  text-align:center; margin-bottom:0.6rem;}
#CommonFooter_M .FooterInfo .CallCenter b .number {font-family:'Saira Condensed'; font-weight:bold; font-size:1.5rem;}
#CommonFooter_M .FooterInfo .CallCenter small {display:block; font-size:0.7rem; color:#3a4b59; text-align:center; margin-top:0.40625rem;}

#CommonFooter_M .FooterInfo .TwoButton {padding:0.65625rem 0 1rem; border-bottom:1px solid #e4e4e4; text-align:center;}
#CommonFooter_M .FooterInfo .TwoButton a {display:inline-block; font-size:0.9rem; width:7rem; height:1.9rem; margin:0 6px;  border:2px solid #cecece; text-align:center; border-radius:8px; line-height:1.6rem;}

#CommonFooter_M .FooterInfo .Information {text-align:center; padding-top:1.03125rem; font-size:0.75rem; line-height:1.1rem;}
#CommonFooter_M .FooterInfo .Information a.BizInfo {display:block; width:6.3rem; height:1.5rem; line-height:1.3rem; border:1px solid #787878; border-radius:3px; text-align:center; margin:0.5625rem auto 0; font-size:0.8rem;}
#CommonFooter_M .FooterInfo .Information .FacebookInstagram {padding:0.75rem 0 0.5rem; text-align:center;}
#CommonFooter_M .FooterInfo .Information .FacebookInstagram a {display:inline-block; width:1.6rem; height:1.6rem; margin:0 0.25rem;}
#CommonFooter_M .FooterInfo .Information .FacebookInstagram img {width:1.6rem; height:1.6rem;}
#CommonFooter_M .FooterInfo .Information small {font-size:0.65rem;}


.footer_family { display:block; margin:0.9375rem auto; border:1px solid #afafaf; width:50%;}
.footer_family select { border:0; width:100%; background:transparent url(/images/ver1/common/family_select_arrow.png) no-repeat right 0.9375rem center; 
					    background-size:0.71875rem auto; font-size:0.9375rem; line-height:2.1875rem; padding:0 0.9375rem; color:#616161; }

.paging_pc { display:block; }
.paging_mobile { display:none; }
.paging { padding:60px 0; text-align:center; }
.paging .box { display:inline-block; }
.paging .box:after { display:block; content:" "; clear:both; }
.btn_pageprev, .btn_pagenext { display:block; float:left; width:35px; height:35px; margin:0 10px; }
.btn_pageprev.opacity, .btn_pagenext.opacity { opacity:0.3; }
.btn_pageprev a, .btn_pagenext a { display:block; width:35px; height:35px;  }
.btn_pageprev img, .btn_pagenext img { width:35px; height:35px; }

.txt_pagenum   { display:block; float:left;  }
.txt_pagenum a { display:block; line-height:35px; padding:0 15px; }
.btn_pageon  { color:#df2e38 !important;font-size:16px; }
.btn_pageoff { color:#000000 !important;font-size:16px; }


.e35thMoBanner { display:none; }

@media (max-width:599px) {
	.paging { padding:1.875rem 0; text-align:center; }
}

@media (max-width:1199px) {

	.e35thMoBanner { display:block; }

	input[type=checkbox] {width:1.0625rem; height:1.0625rem;} 
	input[type=checkbox]:checked {background-image:url(/Images/Ver1/Common/check_51.png); background-size:1.0625rem 1.0625rem;}

	input[type=radio] {width:1.0625rem; height:1.0625rem;} 
	input[type=radio]:checked  {background-image:url(/Images/Ver1/Common/radio_51.png); background-size:1.0625rem 1.0625rem;}

	input[type=checkbox]:checked::-ms-check {padding:20%;} 


	#CommonHeaderArea {display:none;}
	#CommonHeader {display:none;}
	#CommonFooter {display:none;}
	#CommonHeaderArea_M {display:block;}
	#CommonHeader_M {display:block;}
	#CommonFooter_M {display:block;}

	.btn_top {display:block;}
	.MyInfoSummaryArea {display:none;}


}


/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ stamp ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
div.stampicongroup     {height:13px; line-height:13px;}
span.stampicon         {display:inline-block; margin:0 2px; background-repeat:no-repeat;}
span.stampicon.coupon  {width:42px; height:13px; background-size:42px 13px; background-image:url(/Images/Ver1/Common/Stamp/coupon.png);}
span.stampicon.free    {width:48px; height:13px; background-size:48px 13px; background-image:url(/Images/Ver1/Common/Stamp/free.png);}
span.stampicon.gift    {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/gift.png);}
span.stampicon.new     {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/new.png);}
span.stampicon.only    {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/only.png);}
span.stampicon.plus    {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/plus.png);}
span.stampicon.reinto  {width:36px; height:13px; background-size:36px 13px; background-image:url(/Images/Ver1/Common/Stamp/reinto.png);}
span.stampicon.sale    {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/sale.png);}
span.stampicon.soldout {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/soldout.png);}
span.stampicon.y2018   {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/y2018.png);}
span.stampicon.y2019   {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/y2019.png);}
span.stampicon.y2020   {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/y2020.png);}
span.stampicon.y2021   {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/y2021.png);}
span.stampicon.y2022   {width:30px; height:13px; background-size:30px 13px; background-image:url(/Images/Ver1/Common/Stamp/y2022.png);}

@media (max-width:1199px) {
	div.stampicongroup     {height:0.8125rem; line-height:0.8125rem;}
	span.stampicon         {margin:0 0.15rem;}
	span.stampicon.coupon  {width:2.625rem; height:0.8125rem; background-size:2.625rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/coupon_m.png);}
	span.stampicon.free    {width:3rem;     height:0.8125rem; background-size:3rem 0.8125rem;     background-image:url(/Images/Ver1/Common/Stamp/free_m.png);}
	span.stampicon.gift    {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/gift_m.png);}
	span.stampicon.new     {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/new_m.png);}
	span.stampicon.only    {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/only_m.png);}
	span.stampicon.plus    {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/plus_m.png);}
	span.stampicon.reinto  {width:2.25rem;  height:0.8125rem; background-size:2.25rem 0.8125rem;  background-image:url(/Images/Ver1/Common/Stamp/reinto_m.png);}
	span.stampicon.sale    {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/sale_m.png);}
	span.stampicon.soldout {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/soldout_m.png);}
	span.stampicon.y2018   {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/y2018_m.png);}
	span.stampicon.y2019   {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/y2019_m.png);}
	span.stampicon.y2020   {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/y2020_m.png);}
	span.stampicon.y2021   {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/y2021_m.png);}
	span.stampicon.y2022   {width:1.875rem; height:0.8125rem; background-size:1.875rem 0.8125rem; background-image:url(/Images/Ver1/Common/Stamp/y2022_m.png);}

	
	.paging_pc { display:none; }
	.paging_mobile { display:block; }
	.btn_pageprev, .btn_pagenext { width: 1.875rem;  height: 1.875rem;  margin: 0 0.625rem;	}
	.btn_pageprev a, .btn_pagenext a, .txt_pagenum a { width: 1.5rem;  height: 1.875rem; padding:0; }


	.btn_pageon  { color:#df2e38 !important;font-size:13px; }
	.btn_pageoff { color:#000000 !important;font-size:13px; }

}