.popoverlay    { display:none; }
.popoverlay.on { display:block; }
.popoverlay.fullscreen.on { position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.4); z-index:9999; }
.popoverlay.epilogue.on  { position:fixed; top:0; left:50%; margin-left:-340px; padding:0 20px 35px 20px; background-color:#ffffff; z-index:10000; }
.popoverlay.epilogue.on .popheader { display:block; padding:20px 0; position:relative; font-size:20px; line-height:22px; color:#000000; }
.popoverlay.epilogue.on .popheader .btn_popoverlay_close { padding: 0; border: 0; position:absolute; top:50%; right:0; width: 20px; height: 20px; 
														   background: url(/images/ver1/shop/img_overlay_close.gif) no-repeat center; margin-top:-10px; }
.popoverlay.epilogue.on .popbody { padding:25px 0 0 0; border-top:1px solid #dedede; }
.popoverlay.epilogue.on .popbody img { width:100%; max-width:640px; }
.popoverlay.epilogue.on .popbody .popsubbody { position:relative; padding:0 0 0 150px; max-width:640px; margin:30px 0 0 0; }
.popoverlay.epilogue.on .popbody .popsubbody:before { display:block; position:absolute; top:0; left:0; font-size:17px; color:#646464; }

.popoverlay.epilogue.on .popbody .popsubbody.star:before {  content:"별점"; }
.popoverlay.epilogue.on .popbody .popsubbody.star:after  { display:block; content:" "; clear:both; }
.popoverlay.epilogue.on .popbody .popsubbody.star span { display:block; float:left; position:relative;  font-size:16px; color:#000000; }
.popoverlay.epilogue.on .popbody .popsubbody.star span:nth-child(1) { padding:0 0 0 45px; margin:0 40px 0 0 ; }
.popoverlay.epilogue.on .popbody .popsubbody.star span:nth-child(2) { padding:0 0 0 60px; }
.popoverlay.epilogue.on .popbody .popsubbody.star span:nth-child(3) { clear:both; padding:0 0 0 45px; margin:0 40px 0 0 ; }
.popoverlay.epilogue.on .popbody .popsubbody.star span:nth-child(4) { padding:0 0 0 60px; }

.popoverlay.epilogue.on .popbody .popsubbody.star span:before { display:block; position:absolute; top:0; left:0;}
.popoverlay.epilogue.on .popbody .popsubbody.star span:after  { display:block; content:" "; clear:both; }
.popoverlay.epilogue.on .popbody .popsubbody.star span:nth-child(1):before { content:"기능"; }
.popoverlay.epilogue.on .popbody .popsubbody.star span:nth-child(2):before { content:"디자인"; }
.popoverlay.epilogue.on .popbody .popsubbody.star span:nth-child(3):before { content:"가격"; }
.popoverlay.epilogue.on .popbody .popsubbody.star span:nth-child(4):before { content:"품질"; }

.popoverlay.epilogue.on .popbody .popsubbody.star span a { display:block; float:left; color:#000000; font-size:16px; margin:0 5px 0 0; }

.popoverlay.epilogue.on .popbody .popsubbody.contents:before   { content:"내용"; }
.popoverlay.epilogue.on .popbody .popsubbody.contents textarea { height:190px; width:100%; border:0; border-radius:5px; background-color:#f3f3f3; padding:10px; font-size:14px; line-height:20px; color:#000000; }
.popoverlay.epilogue.on .popbody .popsubbody.contents .lenthtext  {display:block; font-size:13px; color:#9d9d9d; line-height:20px; text-align:right;  }
.popoverlay.epilogue.on .popbody .popsubbody.contents .cause_text { position:absolute; top:0; left:150px; right:0; font-size:13px; line-height:20px; display:block; padding:10px; }


.popoverlay.epilogue.on .popbody .popsubbody.uploadfile:before { content:"이미지 파일"; }
.popoverlay.epilogue.on .popbody .popsubbody.uploadfile:after { display:block; content:" "; clear:both }
.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .uploadfilebox  { position:relative; display:block; float:left; width:80px; height:80px; background:#f3f3f3 url(/images/ver1/mypage/img_uploadimage.png) no-repeat center; border-radius:5px; margin:0 10px 0 0; }
.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .uploadfilebox .show { position: absolute; width: 100%;  height: 100%; z-index: 1; top: 0; left: 0;
																			   filter: alpha(opacity=0); opacity: 0; -moz-opacity: 0; cursor: pointer; }
.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .uploadfilebox .getUpload { position:absolute; top:0; left:0; right:0; bottom:0; display:block;}
.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .uploadfilebox .getUpload img { width:100%; height:100%; }
.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .uploadfilebox .getUpload .btnDelete { display:block; width:17px; height:17px; background:url(/images/ver1/mypage/img_uploadimage_del.png) no-repeat center; position:absolute; top:0; right:5px; cursor:pointer; }
.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .uploadfilebox .getUpload .btnRotate { display:block; width:17px; height:17px; background:url(/images/ver1/mypage/img_uploadimage_rotate.png) no-repeat center; position:absolute; bottom:0; left:5px; cursor:pointer;}

.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .cause_text { clear:both; display:block; font-size:13px; color:#9d9d9d; line-height:30px; }

.popoverlay.epilogue.on .popfooter { display:block; margin:30px 0 0 0; text-align:center; }
.popoverlay.epilogue.on .popfooter input[type=button] { border:0; margin:0; color:#ffffff; background-color:#000000; padding:18px 80px; border-radius:5px; font-size:17px; }

@media (max-width:679px) {

	.popoverlay.epilogue.on  { overflow:auto; top:0 !important; left:0 !important; right:0; bottom:0; padding:0 1.25rem ; margin-left:0; }
	.popoverlay.epilogue.on .popheader { font-size: 0.875rem; line-height:1rem; padding:1.0625rem 0; }
	.popoverlay.epilogue.on .popheader .btn_popoverlay_close { width: 0.9375rem; height:0.9375rem; background-size: 0.9375rem auto; margin-top:-0.46875rem; }
	.popoverlay.epilogue.on .popbody { padding:0; }
	.popoverlay.epilogue.on .popbody img:nth-child(1) { display:none; }

	.popoverlay.epilogue.on .popbody .popsubbody { padding: 1.875rem 0 0 0; margin:1.25rem 0 0 0; }
	.popoverlay.epilogue.on .popbody .popsubbody.star span { width:50%; margin:0 !important; font-size:0.875rem; line-height:1.25rem; padding:0 0 0 2.5rem !important; }
	.popoverlay.epilogue.on .popbody .popsubbody.star span a {  font-size:0.875rem; margin:0 0.15625rem 0 0; line-height:1.25rem;} 

	.popoverlay.epilogue.on .popbody .popsubbody:before { font-size:0.875rem; }

	.popoverlay.epilogue.on .popbody .popsubbody.contents textarea { height:10rem; font-size:0.75rem; line-height:1.125rem; }
	.popoverlay.epilogue.on .popbody .popsubbody.contents .lenthtext { font-size:0.625rem; line-height:0.9375rem; }

	.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .uploadfilebox { width:18%; height:3.9rem;  margin:0 2% 0 0; padding:0 0.3125rem 0 0;}
	.popoverlay.epilogue.on .popbody .popsubbody.uploadfile .cause_text { font-size:0.625rem; line-height:1.5625rem; }
	.popoverlay.epilogue.on .popfooter { margin:1.875rem 0 0 0; padding:0 0 2.1875rem 0; }
	.popoverlay.epilogue.on .popfooter input[type=button] { padding:0.9375rem 3.75rem; font-size:0.875rem; }

	    
}