a {cursor:pointer;}

input[type=num],
input[type=text] {width:100%; padding:0 16px; margin:0; line-height:56px; height:56px; color:#777777; font-size:15px; border:0; background-color:#f3f3f3; border-radius:5px;}

.ReviewWrap  {width:100%; max-width:1200px; margin:50px auto 0; padding:0;}
.ReviewTitle {width:100%; text-align:center; color:#000000; line-height:25px; font-size:25px; margin:0 0 30px 0;}

.ReviewInfo {display:block; width:100%; font-size:15px; line-height:15px; margin:0 0 50px 0; color:#9d9d9d;}
.ReviewInfo span {display:block; font-size:14px; line-height:20px; color:#646464;}
.ReviewInfo span:last-child {padding:16px 0 0 0; color:#9d9d9d;}

.ReviewTab {height:62px; line-height:62px; text-align:center; border:1px solid #000000; border-radius:5px;}
.ReviewTab a {float:left; display:inline-block; width:50%; color:#000000; height:60px; font-size:20px; border-radius:5px;}
.ReviewTab a:nth-of-type(1) {border-top-right-radius:1px; border-bottom-right-radius:1px;}
.ReviewTab a:nth-of-type(2) {border-top-left-radius:0px;  border-bottom-left-radius:0px;}
.ReviewTab a.on { background-color:#000000; color:#ffffff;  }

.ReviewNone {text-align:center; padding:70px 0 70px 0; color:#9d9d9d; font-size:18px;}

.ReviewWriteList {padding:12px;}
.ReviewWriteList span.candy {display:block; font-size:16px; line-height:55px; color:#9d9d9d; padding:0 0 0 14px;}

.ItemList li {position:relative; width:20%; text-align:center; padding:14px 14px 0 14px;}
.ItemList img {width:100%;}
.ItemList span {display:block; text-align:center; }
.ItemList span.itemname {font-size:16px; color:#000000; padding:10px 10px 0 10px; height:26px; line-height:16px; width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ItemList span.itemamt  {font-size:16px; color:#000000; font-weight:bold;}
.ItemList span.discount {color:#f00000;}
.ItemList span.deadline {font-size:14px; color:646464;}
.ItemList a.btnWrite {display:block; font-size:16px; color:#ffffff; width:140px; height:36px; line-height:36px; text-align:center; background-color:#424242; border-radius:5px; margin:10px auto;}

.ItemList .itemprice { display:inline-block; }
.ItemList .itemprice.sale_Y { color:#e71e22; }
.ItemList .discountrate { display:inline-block; color:#e71e22; }

.ModItemList { display:table; width:100%; }
.ModItemList li { position:relative; display:block; width:100%; padding:0 0 0 230px;  min-height:205px; margin:25px 0 0 0; }
.ModItemList li .img { display:block; position:absolute; top:0; left:0; width:205px;}
.ModItemList li .img img { width:100%; }

.ModItemList li .modbox { display:block; position:relative; background-color:#f5f5f5; min-height:205px; padding:20px 150px 20px 160px; }
.ModItemList li .modbox .sub1 { display:block; width:140px; position:absolute; top:20px; left:20px; border-right:1px solid #ffffff; }
.ModItemList li .modbox .sub1 .point { display:block; padding:0 0 0 50px; font-size:14px; line-height:22px; color:#000000; position:relative; }
.ModItemList li .modbox .sub1 .point:after { display:block; position:absolute; top:0; left:0; }
.ModItemList li .modbox .sub1 .point.f:after { content:"기능"; }
.ModItemList li .modbox .sub1 .point.d:after { content:"디자인"; }
.ModItemList li .modbox .sub1 .point.p:after { content:"가격"; }
.ModItemList li .modbox .sub1 .point.s:after { content:"품질"; }
.ModItemList li .modbox .sub1 .totalpoint { display:block; margin:10px auto 0 auto; width: 62px; height: 62px; background: url(/images/ver1/shop/img_postscript_score.png?v=20180814) no-repeat center; font-size: 18px; font-weight: bold; color: #ffffff; padding: 6px 0 0 8px; }

.ModItemList li .modbox .sub2 { display:block;  padding: 0 0 0 20px; }
.ModItemList li .modbox .sub2 .sub2_cont { display:block; font-size:16px; line-height:20px; color:#000000; margin:0 0 10px 0; white-space:pre-line;}
.ModItemList li .modbox .sub2 .sub2_img { display:block; width:140px; float:left; margin:40px 10px 0 0;}
.ModItemList li .modbox .sub2 .sub2_img img { width:100%; max-width:140px; }
.ModItemList li .modbox .sub2:after { display:block; content:" "; clear:both; }
.ModItemList li .modbox .btnEpilogueModify { position:absolute; top:50%; right:20px; margin-top:-40px; width:100px; height:35px; background-color:#ffffff; color:#424242; border-radius:5px; border:1px solid #424242; font-size:16px; }
.ModItemList li .modbox .btnEpilogueDelete { position:absolute; bottom:50%; right:20px; margin-bottom:-40px; width:100px; height:35px; background-color:#424242; color:#ffffff; border-radius:5px; border:1px solid #424242; font-size:16px;  }

@media (max-width:1199px) {
	input[type=num],
	input[type=text] {padding:0 0.78125rem; line-height:2.375rem; height:2.375rem; font-size:0.875rem;}
	
	.ReviewWrap  {max-width:1200px; padding:0 0.5625rem; margin:2rem auto 3.125rem;}
	.ReviewTitle {line-height:1.25rem; font-size:1.25rem; margin:0 0 1.5rem 0; color:#000000;}

	.ReviewInfo {font-size:0.75rem; line-height:1.125rem; margin-bottom:1.875rem;}
	.ReviewInfo span {font-size:0.8125rem; line-height:1.25rem;}
	.ReviewInfo span:last-child {padding:1.0rem 0 0 0; color:#9d9d9d;}

	.ReviewTab {height:2.5rem; line-height:2.5rem;}
	.ReviewTab a {height:2.4375rem; font-size:0.9375rem;}

	.ReviewNone {padding:2.1875rem 0; font-size:0.8125rem;}

	.ItemList img {width:100%;}
	.ItemList span {display:block;}
	.ItemList span.itemname {font-size:1.0rem; padding:0.625rem 0 0 0; line-height:1.125rem; height:1.75rem;}
	.ItemList span.itemamt  {font-size:0.875rem; }
	.ItemList span.deadline {font-size:14px; color:646464;}
	.ItemList a.btnWrite {font-size:0.8125rem; width:6.875rem; height:1.625rem; line-height:1.625rem;}

	.ModItemList li { padding:1.25rem !important; background-color:#f5f5f5; }
	.ModItemList li .img { z-index:10; width:8.5rem; left:1.25rem; top:1.25rem; }
	.ModItemList li .img img { max-width:150px;}
	.ModItemList li .modbox { padding:0 0 3.125rem 0 ; }
	.ModItemList li .modbox .sub1 { width:100%; position:relative; top:initial; left:initial; padding:0 0 0 50%; border:0; } 
	.ModItemList li .modbox .sub2 { padding:0.9375rem 0 0 0; margin:0.9375rem 0 0 0; border-top:1px solid #ffffff; }

	.ModItemList li .modbox .sub1 .point { font-size:0.78125rem; }
	.ModItemList li .modbox .sub1 .totalpoint { top: 1.25rem;left: 0.9375rem; width: 3.125rem; height: 3.125rem; background-size: 3.125rem;
											    font-size: 0.875rem; padding: 0.46875rem 0 0 0.46875rem; }
	.ModItemList li .modbox .btnEpilogueModify { top:initial; bottom:0; left:50%; margin-bottom:0; margin-left:-6.25rem; right:initial; margin-top:0; width:5.625rem; height:2.1875rem; font-size:0.78125rem; }
	.ModItemList li .modbox .btnEpilogueDelete { top:initial; bottom:0; left:50%; margin-bottom:0; margin-left:0.625rem; right:initial; margin-top:0; width:5.625rem; height:2.1875rem; font-size:0.78125rem; }

	.ModItemList li .modbox .sub2 .sub2_cont { font-size:0.75rem; line-height:1rem; }
	.ModItemList li .modbox .sub2 .sub2_img { width:30%; }

}

@media (min-width:86px) and (max-width:1199px) {
.ItemList li {width:25%;}
}

@media (min-width:720px) and (max-width:859px) {
.ReviewWriteList {padding:0;}
.ReviewWriteList span.candy {display:none;}

.ItemList li {width:33%; padding:1.0rem 0 0 0;}
.ItemList li span.deadline {display:none;}
.ItemList li:nth-of-type(1), li:nth-of-type(4), li:nth-of-type(7) {padding-right:0.3125rem;}
.ItemList li:nth-of-type(2), li:nth-of-type(5), li:nth-of-type(8) {padding-right:0.15625rem; padding-left:0.15625rem;}
.ItemList li:nth-of-type(3), li:nth-of-type(6), li:nth-of-type(9) {padding-left:0.3125rem;}
.ItemList li:nth-of-type(10) {display:none;}
}

@media (max-width:719px) {
.ReviewWriteList {padding:0;}
.ReviewWriteList span.candy {display:none;}

.ItemList li {width:50%; padding:1.0rem 0 0 0;}
.ItemList li span.deadline {display:none;}
.ItemList li:nth-of-type(1), li:nth-of-type(3), li:nth-of-type(5), li:nth-of-type(7), li:nth-of-type(9)  {padding-right:0.3125rem;}
.ItemList li:nth-of-type(2), li:nth-of-type(4), li:nth-of-type(6), li:nth-of-type(8), li:nth-of-type(10) {padding-left:0.3125rem;}
/*.ItemList li:nth-of-type(7), li:nth-of-type(8), li:nth-of-type(9), li:nth-of-type(10) {display:none;}*/
}