@charset "UTF-8";

.loginBody {
	width: auto;
	max-width: 600px;
	margin: 50px auto 70px;
    padding: 0;
}
.topLogin{
	text-align: center;
}

.top_font{
	display: block;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 14px 0;
    color: #999999;
}

input[type=submit] {
	cursor: pointer;
}

input[type=checkbox] {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 27px;
    height: 27px;
}

.IdPass input[type="text"]{
	width: 100%;
    padding: 0 22px;
    margin: 10px 0 0 0;
    line-height: 56px;
    height: 56px;
    color: #777777;
    font-size: 15px;
    border: 0;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.IdPass input[type="password"]{
	width: 100%;
    padding: 0 22px;
    margin: 10px 0 0 0;
    line-height: 56px;
    height: 56px;
    color: #777777;
    font-size: 15px;
    border: 0;
    background-color: #f3f3f3;
    border-radius: 5px;
}


.loginBody .simpleLogin:before{
		content: "";
        display: inline;
        float:left;
        width: 225px;
        border-bottom: 1px solid #bcbcbc;
        margin: 12px auto 15px;
}

.loginBody .simpleLogin:after {
        content: "";
        display: block;
        float:right;
        width: 225px;
        border-bottom: 1px solid #bcbcbc;
        margin: 12px auto 15px;
        
      }

.loginBody .simpleLogin {
	color:#7c7c7c;
	text-align: center;
	text-decoration: none;
	padding-left: 40px;
	margin-bottom: 10px;
}

.joinLink{
	width: 100%;
    height: 27px;
    margin: 10px 0 32px 0;
}
.joinLink ul li{
	list-style: none;
}
.loginButton{
	display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 0 0 30px 25px;
    text-decoration: none;
}
.img {
	display: block;
	text-align: center;
}
.img img{
	width: 60px;
	margin: 5px;
}
.nonMemberButton{
	display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
    color: #656565;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    border: solid 1px;
    border-color: #656565;
    border-radius: 5px;
    margin: 0 0 30px 25px;
}
.leftWrap{
	position: relative;
}
.rightWrap{
	float: right;
}
.rightWrap a {
	text-decoration: none;
}
.nonMemberButton{
	text-decoration: none;
}








