@charset "UTF-8";

th, td, p, input, button, textarea, select, div, xmp {font-family:'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif; color:#808080; line-height:100%;}

img {border:none;}

select, .reg_tab input[type=text], .reg_tab input[type=number], textarea{
	width:100%;
	height:40px;
	border-radius: 10px;
	border: 1px solid gray;
  	margin:10px 0px;  
}

.admin_nav_wrap{}
ul.admin_nav{ list-style:none; margin:0; padding:0; text-align: center;}
ul.admin_nav li {display:inline-block; margin-left: 10px; padding: 5px 100px 5px 100px;}

.reg_tab input[type=file]{
 	margin: 10px 0px;
}

.reg_tab {border:1px solid white;}
.reg_tab td{width:1000px;}
.reg_tab th{width:200px; text-align:center;}

.btn_tr{text-align: right;}
.btn_tr input[type=submit]{
	padding:10px;
	margin-bottom:10px;
}

/* a, input, textarea, select {outline:none; -webkit-appearance: none; -moz-appearance: none; border-radius:0;} */

a:link, a:visited, a:active, a:hover { text-decoration:none; color:#808080; }
a:hover                              { }
a.privacy {/*font-weight:bold;*/color:#3a4b59;}


.fixed {
	position: fixed;
	top: 0px;
}
	


