@charset "UTF-8";
/* font-family:'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;  */
th, td, p, input, button, textarea, select, div, xmp {line-height:100%;}
*{font-family: 'Noto Sans KR', sans-serif;}
*:focus{
 outline : none
}

img {border:none;}

select, .reg_tab input[type=text], .reg_tab input[type=number], textarea{
	width:100%;
	height:40px;
	border-radius: 10px;
	border: 1px solid gray;
  	margin:10px 0px;  
}

.admin_nav{
	list-style-type: none;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}


.admin_nav li{
	display: inline-block;
	padding:10px;
}

.admin_nav li a:visited, .admin_nav li a:link, .admin_nav li a:active, .admin_nav li a:hover{
	color:black;
}

.admin_nav li a:hover{
	padding:10px;
	background: gray;
	color:white;
}

.registTitle{
	text-align: center;
	color:black;
	margin-bottom: 20px;
}

.reg_tab input[type=file]{
 	margin: 10px 0px;
}

.reg_tab {border:1px solid white;}
.reg_tab td{width:1000px;}
.reg_tab th{width:200px; text-align:center;}

.btn_tr{text-align: right;}
.btn_tr input[type=submit], .btn_tr input[type=button]{
	padding:10px;
	margin-bottom:10px;
	margin-left:10px;
	background-color: white;
	border: 1px solid black;
	color:black;
}
/* a, input, textarea, select {outline:none; -webkit-appearance: none; -moz-appearance: none; border-radius:0;} */

a:link, a:visited, a:active, a:hover { text-decoration:none; color:black; }
a:hover                              { }
a.privacy {/*font-weight:bold;*/color:#3a4b59;}

BODY {
	margin: 20px 0px 20px 0px;
	background-color: white;
	font-size: 12pt;
	display: block;
	position: relative;
	width: 100%;
	}
	

	
.pageHeader{
	width: 100%;
	height: 170px;
	display: block;
    border-bottom: 1px solid #e4e4e4;
    
    
    background-color: #ffffff;
	opacity: 0.9;
	z-index: 2;
	}
.logo{
/* 	min-height: 120px; */
text-align: center;
	
}

.pageNavigationBar{
	background-color: #ffffff;
	opacity: 0.9;
	z-index: 2;
}
	
.pageContent{
	width: 1200px;
    margin: 0 auto 30px;
}
	
	
.pageHeader.fixed{position: fixed; left: 0; top: 0; width: 100%; height: 100px;}
#orilogo img{margin: 30px auto;}
#scrlogo img{margin: 14px auto;height: 30px;}



#top_menu ul{list-style:none;
font-family: verdana,Geneba,sans-serif;
font-size: 13px;font-weight: 100;
display:block; height:57px; width:1200px; margin:0 auto; position:relative;
    padding-inline-start: 0;
 }

#top_menu li{float: left;margin: 0 5px;}

#top_menu .CategoryMiddle a{display: block; height: 20px;
padding: 10px; text-decoration: none;color: black;
outline:none; -webkit-appearance: none; -moz-appearance: none; border-radius:0;}

#top_menu .Cart{float: right;}
#top_menu .MyPage{float: right;width: 40px;height: 40px;}

#top_menu li.Search {
    float: right;
/*     width: 185px; */
    height: 40px;
    border-bottom: 2px solid #787878;
}

#top_menu #kwd {border:none;border-bottom:1px solid gray;
font-family: 'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
    color: #808080;
    line-height: 100%;
        display: inline-block;
    background-color: #ffffff;
    border: 0;
    padding: 0;
    margin: 0;
    width: 145px;
    height: 35px;
    line-height: 35px;
    vertical-align: top;
    font-size: 16px;
    color: #000000;}

nav#top_menu a:hover{
	background-repeat: repeat-x;
/* 	background-position: bottom; */
	}
.fixed {
	position: fixed;
	top: 0px;
}
	
/* footer */

.pageFooter{    display: block;
    border-top: 1px solid #e4e4e4;height: 250px;
    padding: 23px 0 42px;}
    
    
.FooterMenu ul{list-style:none;
font-family: verdana,Geneba,sans-serif;
font-size: 13px;font-weight: 100;color: black;
display:block; height:57px; width:1200px; margin:0 auto; position:relative;}

.FooterMenu li{float: left;margin: 0 5px;}

.FooterMenu .FooterLink a{display: block; height: 20px;
padding: 10px; text-decoration: none;color: #7d7d7d;}

.FooterMenu .FamilySite{float: right;}
.FooterMenu .Facebook{float: right;width: 40px;height: 40px;}
.FooterMenu .Instagram{float: right;}




/* .pageFooter .FooterInfo {padding-top:39px;} */
.pageFooter .FooterInfo ul {width:1200px; margin:0 auto;list-style:none;}
.pageFooter .FooterInfo ul li { float: left;   }
.pageFooter .FooterInfo li.CallCenter {width:330px; font-size:13px; line-height:13px;}
.pageFooter .FooterInfo li.CallCenter b.string {display:block; font-weight:normal; font-size:20px; line-height:20px; color:#000000; 
padding-bottom:5px;}
.pageFooter .FooterInfo li.CallCenter b.number {display:block; font-family:'Saira Condensed'; font-size:30px; line-height:30px; 
color:#000000; padding-bottom:10px;}
.pageFooter .FooterInfo li.CallCenter small {display:block; font-size:12px; color:#3a4b59; line-height:12px; padding-top:10px;}

.pageFooter .FooterInfo li.TwoButton {width:290px;display:inline-block;}
.pageFooter .FooterInfo li.TwoButton a {display:inline-block; width:115px; height:115px; border:3px solid #cecece;
 margin:0 7px 0 0; font-size:13px; line-height:13px; text-align:center; border-radius:8px;
  text-decoration: none;}
.pageFooter .FooterInfo li.TwoButton img {display:block; margin:20px auto 5px; width:50px; height:50px;}

.pageFooter .FooterInfo li.Information {width:580px; font-size:12px; line-height:20px;display:inline-block;
font-family: 'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;color: #808080;}
.pageFooter .FooterInfo li.Information big {font-size:16px;}
.pageFooter .FooterInfo li.Information a.BizInfo {display:block; width:100px; height:24px; line-height:22px; border:1px solid #787878; 
border-radius:3px; text-align:center; margin:5px 0;  text-decoration: none;}


/* -------------------------------------------------------- */
/* home/ main ad1 */
.Ad1{ height: 200px; margin: 0 auto;
width: 1100px;
padding: 0;}
.Ad1left{ width: 50%;float: left;}
.Ad1right{ width: 50%;float: right;}



/* 컨테이너 */
.bestcontainer {
	
  width: 1100px;
  display: grid;
 grid-template-rows: repeat(2, 280px);
  grid-template-columns: repeat(5, 210px);
  margin: 30px auto;
  
padding: 0;
}

.best_content{
	 width: 200px;
}

#prod_list, #search_product{
	width:90%; 
}

input[type="button"]{
	margin-left: 10px;
	padding: 10px;
	background: white;
	border:1px solid black;
}

.search_space input[type=text]{
	border: 0px solid white;
	border-radius: 0px;
	border-bottom: 1px solid gray;
}

