@charset "UTF-8";

*{font-family: 'Noto Sans KR', sans-serif;}


.admin_nav{
	list-style-type: none;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}


.admin_nav li{
	display: inline-block;
	padding:10px;
}

.admin_nav li a:visited, .admin_nav li a:link, .admin_nav li a:active, .admin_nav li a:hover{
	color:black;
}

.admin_nav li a:hover{
	padding:10px;
	background: gray;
	color:white;
}

.list_title{
	text-align: center;
	
}

.table_content{
	width:inherit;
	border-collapse: collapse;
}

.table_content tr{
	text-align: center;
}

.table_content th{
	padding: 20px;
	border-bottom: 1px solid red;
}

.table_content td{
	border-bottom: 1px solid gray;
}

.table_content a{
	display: block;
	padding: 20px;
	width: 100%;
	height: 100%;
}

.table_content a:link, .table_content a:hover, .table_content a:visited, .table_content a:active{
	color: black;
}

.table_content a:hover{
	background-color: #fff1f0;
}

.table_btn{
	margin:10px;
	padding: 5px;
	float:right;
	background-color: white;
	border:1px solid black;
	
}

#pageList{
	display:block;
	text-align: center;
	margin-top: 50px;
}

.admin_deco{vertical-align: bottom;width:50px; height:50px;}

.chooseOpt{
    background-size: 0.53125rem 0.28125rem;
    background-position: right 0.3125rem center;
    font-size: 14px;
    color: #424242;
    width: 240px;
    height: 35px;
    padding: 0 12px;
    border: 1px solid #424242;
    border-radius: 5px;
}

.chooseOpt2{
    background-size: 0.53125rem 0.28125rem;
    background-position: right 0.3125rem center;
    font-size: 14px;
    color: #424242;
    width: 100px;
    height: 35px;
    padding: 0 12px;
    border: 1px solid #424242;
    border-radius: 5px;
}

.search_btn{
	margin-left: 10px;
	width: 50px;
	height: 35px;
	border: 1px solid #424242;
    border-radius: 5px;
	
}
