@charset "UTF-8";

div, p, span, input, select, textarea, a, ul, li, dd, dt, dl {
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}
body, th, td, p, input, button, textarea, select, div, xmp {
    font-family: 'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
    color: #808080;
    line-height: 100%;
}
ul, ol, dl {padding: 0; margin: 0;}
a {text-decoration:none}
.clear{clear: both;}

.reviewWrap {width: 1200px; margin: 50px auto 0 auto; padding: 0;}

.reviewTitle{text-align: center; color: #000000; font-size: 25px; margin: 0 0 30px 0;}

.reviewInfo{margin: 0 0 50px 0;}
.reviewInfo span{display: block; font-size: 14px; line-height: 20px; color: #646464;}
.reviewInfo span:last-child {padding: 16px 0 0 0; color: #9d9d9d;}

.reviewTab {height:62px; line-height:62px; text-align:center; border:1px solid #000000; border-radius:5px;}
.reviewTab a {float:left; display:inline-block; width:50%; color:#000000; height:61px; font-size:20px; border-radius:4px;}
.reviewTab a.on { background-color:#000000; color:#ffffff;  }

.ReviewNone {text-align:center; padding:70px 0 70px 0; color:#9d9d9d; font-size:18px;}

.reviewWriteList {padding:12px;}
.reviewWriteList span.candy {display:block; font-size:16px; line-height:55px; color:#9d9d9d; padding:0 0 0 14px;}

.ItemList li {list-style:none;position:relative; width:20%; text-align:center; padding:14px 14px 0 14px;float: left;}
.ItemList li:last-child {width: 100%; text-align: center; padding: 0;}
.ItemList img {width:100%;}
.ItemList span {display:block; text-align:center; }
.ItemList span.itemname {font-size:16px; color:#000000; padding:10px 10px 0 10px; height:26px; line-height:16px; width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ItemList span.itemamt  {font-size:16px; color:#000000; font-weight:bold;}
.ItemList span.discount {color:#f00000;}
.ItemList span.deadline {font-size:14px; color:646464;}
.ItemList a.btnWrite {display:block; font-size:16px; color:#ffffff; width:140px; height:36px; line-height:36px; text-align:center; background-color:#424242; border-radius:5px; margin:10px auto;}

.ItemList .itemprice { display:inline-block; }
.ItemList .itemprice.sale_Y { color:#e71e22; }
.ItemList .discountrate { display:inline-block; color:#e71e22; }

.paging {padding:60px 0; text-align: center;}
.paging .box{display: inline-block; height: 35px;}
.paging .box a {line-height: 35px; font-size: 15px; padding: 0 15px 0 15px;float: left;}
.paging .box .btn_pageon {color: #df2e38; font-size: 16px;}
.paging .box .opacity {opacity: 0.3;}

.full-screen{
/* 	display: none; */
	position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: rgba(0,0,0,0.4);
    z-index: 4;
}
.review-overlay{
/* 	display: none; */
    position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	width: 680px;
	background-color: #ffffff;
    padding: 0 13px;
    z-index: 1;
}
.overlay-header{
    line-height: 62px;
    font-size: 20px;
    color: #000000;
    border-bottom: 1px solid #d2d2d2;
}
.overlay-close {
    border: 0;
    margin-right: 10px;
    float: right;
    width: 20px;
    height: 62px;
    background: url("../../Images/item/cart_x.png") no-repeat center;
    background-size: 20px 20px;
    cursor: pointer;
}
.overlay-body {
	padding-top: 25px;
}
.overlay-body .candy-img{
	width: 100%;
	height: 134px;
}
.overlay-body .input {
    padding: 15px 0 0 145px;
    line-height: 30px;
    color: #000000;
}
.overlay-body .input .tt {
    position: absolute;
    left: 30px;
    line-height: 57px;
    font-size: 16px;
    color: #6d6d6d;
}
.overlay-body .input .score{
	display: inline-block;
	width: 200px;
}
.overlay-body .input .score span{
	display: inline-block;
	width: 60px;
	text-align: center;
}
.overlay-body .input .score b{
	text-decoration: none;
	color: #d0d0d0;
}
.overlay-body .input .score b:hover{
	cursor: pointer;
} 
.overlay-body .input .score b.on{
	color: black;
}
.overlay-body .input textarea {
	font-family: 'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
    height: 170px;
    border: 0;
    background-color: #f3f3f3;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    outline: none;
    resize: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
.overlay-body .input label{
	display: inline-block;
	border: 0;
	width: 80px;
	height: 80px;
	border-radius: .25em;
	margin-right: 10px;
}

.overlay-body .input label .preview {
	width:100%;
	height:100%;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-radius: .25em;
	
}
.overlay-body .input label input[type="file"] { /* 파일 필드 숨기기 */
	display: none;
}
.overlay-body .input .etc{
	font-size: 13px;
}
.overlay-footer {
    margin: 30px 0 50px ;
}
.overlay-footer .regist {
	display: block;
    margin: 0 auto;
    width: 222px;
    height: 53px;
    color: #ffffff;
    font-size: 17px;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
}
.qna-overlay .button .btnRegProductQna {
    margin: 0;
    border: 0;
    padding: 0 78px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
}