@charset "UTF-8";
div, p, span, input, select, textarea, a, ul, li, dd, dt, dl {
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}
body, th, td, p, input, button, textarea, select, div, xmp {
    font-family: 'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
    color: #808080;
    line-height: 100%;
}
ul, ol, dl {padding: 0; margin: 0;}
a {color: #808080; text-decoration:none}
.clear{clear: both;}

.wrap {
    font-family: 'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
    line-height: 100%;
    width: 1200px;
    padding:0;
    margin: 40px auto 0 auto;
    position: relative;
    display: block;
    box-sizing: border-box !important;
}

/* item-info */

.item-info {
    min-height: 500px;
}
.img_left_point{
	z-index: 99;
	display: inline-block;
	content:'';
	width:20px;
	height:20px;
	background-color: gray;
	border-radius: 10px;
	position:relative;
	right:520px;
	top:450px;
	opacity: 0.3;
	border: 1px solid red;
}
.img_right_point{
	z-index: 99;
	display: inline-block;
	content:'';
	width:20px;
	height:20px;
	background-color: gray;
	border-radius: 10px;
	position:relative;
	right:500px;
	top:450px;
	opacity: 0.3;
}
.img_left_btn{
	position: relative;
	width: 100px;
	height: 100px;
	z-index: 99;
	display: inline-block;
	right: 515px;
	top: 250px;
	cursor: pointer;
}
.img_left_btn::after{
	content: '';
	position: absolute;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	width: 40px;
	height: 40px;
	right: 20px;
	top: 30px;
	transform: rotate(135deg);
	opacity:0.2;
}
.img_right_btn::after{
	content: '';
	position: absolute;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	width: 40px;
	height: 40px;
	right: 40px;
	top: 30px;
	transform: rotate(-45deg);
	opacity: 0.2;
	
}
.img_right_btn{
	position: relative;
	width: 100px;
	height: 100px;
	z-index: 99;
	display: inline-block;
	right: 250px;
	top: 250px;
	cursor: pointer;
}
.item-info .img-info{
	border-right: 1px solid #e4e4e4;
	padding: 0 50px 0 0;
    width:550px;
    height:	500px;
    float: left;
}
.item-info .img-info .mainslide ul{
/* 	padding: 0; */
/* 	margin: 0; */
}
.item-info .img-info .mainslide .swiper-pagination-bullet {
    background-color: white;
    border: 2px solid #000000;
    width: 8px;
    height: 8px;
    opacity: 0.5;
}
.item-info .img-info .mainslide .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000000;
    opacity: 0.5;
}
.item-info .img-info .mainslide li{
	list-style: none;
}
.item-info .img-info .mainslide img{
    width: 500px;
    height: 500px;
}
.item-info .text-info{
    width: 650px;
    padding: 0 0 0 50px;
    float: left;
}
.item-info .text-info .pdt-name {
    font-size: 30px;
    line-height: 32px;
    color: #000000;
}
.item-info .text-info .pdt-category {
   padding: 10px 0 23px 0;
   color: #9d9d9d;
   font-size: 15px;
   line-height: 17px;
   border-bottom: 1px solid #e4e4e4;
}
.item-info .text-info .pdt-right::before {
    content: "";
    width: 110px;
    font-size: 14px;
    color: #646464;
    text-align: left;
    float: left;
}
.item-info .text-info .pdt-right {
	width: 100%;
	color: #000000;
    line-height: 20px;
    font-size: 18px;
    margin-top: 23px;
    float: left;
}

.item-info .text-info .pdt-right.pdt-price::before {content: "판매가";}
.item-info .text-info .pdt-right.pdt-price {margin-top: 20px}
.item-info .text-info .pdt-right.pdt-delivery::before {content: "배송비";}
.item-info .text-info .pdt-right.pdt-delivery .btn-delivery {cursor:pointer; border:1px solid #000000; border-radius:5px; width:82px; height:22px; font-size:13px; color:#000000; background-color:#ffffff; padding: 0}
.item-info .text-info .pdt-right.pdt-candy::before {content: "꿈캔디";}
.item-info .text-info .pdt-right.pdt-code::before {content: "상품코드";}
.item-info .text-info .pdt-right.pdt-ok::before {content: "OK캐쉬백";}
.item-info .text-info .pdt-right.pdt-count::before {content: "주문수량";}
.item-info .text-info .pdt-right.pdt-count {height: 55px;padding: 9px 0 9px 0;border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;line-height: 35px;}
.item-info .text-info .pdt-right.pdt-count .ipt_layer { position:relative; float:right; width:137px; height:35px; border:1px solid #646464; border-radius:5px; padding:0 35px; position:relative; }
.item-info .text-info .pdt-right.pdt-count .ipt_layer:before { position:absolute; top:0; bottom:0; left:35px;  width:1px; display:block; content:" "; background-color:#646464; }
.item-info .text-info .pdt-right.pdt-count .ipt_layer:after  { position:absolute; top:0; bottom:0; right:35px; width:1px; display:block; content:" "; background-color:#646464; }
.item-info .text-info .pdt-right.pdt-count input[type=tel] { margin:0; padding:0; border:0; width:65px; height:33px; line-height:35px; font-weight:bold; font-size:20px; color:#000000; text-align:center; }
.item-info .text-info .pdt-right.pdt-count input[type=button] { border:0; margin:0; padding:0; background-color:#ffffff; font-size:25px; color:#717171; font-weight:bold; }
.item-info .text-info .pdt-right.pdt-count .Minus { position:absolute; top:1px; left:1px; width:33px; bottom:1px;}
.item-info .text-info .pdt-right.pdt-count .Plus  { position:absolute; top:1px; right:1px; width:33px; bottom:1px;}
.item-info .text-info .pdt-right.pdt-totalprice::before {content: "총 합계금액";font-size: 20px;color: #000000;}
.item-info .text-info .pdt-right.pdt-totalprice {margin: 0;padding: 20px 0 20px 0;font-size: 25px;line-height: 27px;text-align: right;font-weight:bold;}

.item-info .text-info .pdt-btnlist {width: 100%; margin-top:23px; float: left;}
.item-info .text-info .pdt-btnlist .btnCart  { width:38%; padding:0 5px 0 0; float: left;}
.item-info .text-info .pdt-btnlist .btnCart input[type=button] { width:100%; height:55px; padding:0; margin:0; border:1px solid #646464; background-color:#ffffff; border-radius:5px; font-size:20px; color:#000000; }
.item-info .text-info .pdt-btnlist .btnOrder { width:38%; padding:0 0 0 5px; float: left;}
.item-info .text-info .pdt-btnlist .btnOrder input[type=button] { width:100%; height:55px; padding:0; margin:0; border:1px solid #e71e22; background-color:#e71e22; border-radius:5px; font-size:20px; color:#ffffff; font-weight:bold; }
.item-info .text-info .pdt-btnlist .btn-wish { right:60px; width:55px; height:55px; cursor:pointer; float:right;}
.item-info .text-info .pdt-btnlist .btn-wish.off { background:url(../../Images/item/wish_off.png) no-repeat center; }
.item-info .text-info .pdt-btnlist .btn-wish.on  { background:url(../../Images/item/wish_on.png) no-repeat center;  }
.item-info .text-info .pdt-btnlist .btn-share    { width:55px; height:55px; cursor:pointer; background:url(../../Images/item/btn_share.png) no-repeat center; float: right;}

/* item_another */

.item-another {
	margin: 25px 0 0 0;
}
.item-another .another-text {
	display: inline-block;
	width: 240px;
	height: 125px;
	color: #000000;
	line-height: 125px;
	font-size: 24px;
	font-weight: bold;
	float: left;
}
.item-another .another-list{
	width: 960px;
	height:125px;
	padding: 0 44px 0 44px;
	background-color: #f7f7f7;
	float: left;
}
.item-another .another-list li {
    list-style:none;
	cursor: pointer;
	width: 290px;
	height:85px;
	margin: 20px 0 20px 0;
}
.item-another .another-list img {
	width: 84px;
	height: 84px;
	float: left;
}
.item-another .another-list .another-info{
	width: 205px;
	height: 84px;
	padding: 23px 20px 0 20px;
	float: left;
}
.item-another .another-list .another-info .another-name {
	display: inline-block;
	width: 100%;
	color: #000000;
	font-size: 19px;
	line-height: 21px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.item-another .another-list .another-info .another-price {
	color: #646464;
}
.item-another .another-list .swiper-button-prev,
.item-another .another-list .swiper-button-next {
	top: 0;
	bottom: 0;
	width: 45px;
	height: 100%;
	background-color: #f7f7f7;
	margin-top: 0;
}

.item-another .another-list .swiper-button-prev {
	left: 0;
	background-image: url(../../Images/item/img_arrow_left.png);
	background-size: 9px auto;
}

.item-another .another-list .swiper-button-next {
	right: 0;
	background-image: url(../../Images/item/img_arrow_right.png);
	background-size: 9px auto;
	z-index: 999;
}

/* item_content_bar */
.item_content_bar {
	display: block;
	margin:40px 0 0 0;
	z-index:9999 !important;
}
.item_content_bar .tabBar {
	border-radius: 5px;
}
.item_content_bar .tabBar span {
	
	border: 1px solid #000000;
	position: relative;
	display: block;
	width: 33%;
	float: left;
	text-align: center;
	cursor: pointer;
	line-height: 63px;
	font-size: 20px;
	background-color: #f4f4f4;
	color: #999999;
}
.item_content_bar .tabBar span.on {
	background-color: #ffffff;
	color: #000000;
}
.item_content_bar .tabBar span:nth-child(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0;
}
.item_content_bar .tabBar span:nth-child(3) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0;
}

/* item_content */

.item_content {
    display: none;
}
.item_content.on {
    display: block;
    margin: 90px 0;
    position: relative;
	border-top: 1px solid #000000;
}
.item_content.on .content{
	text-align: center;
	margin-top: 45px;
	padding: 0 30px;
}
.item_content.on .content img{
	padding-bottom: 10px;
    max-width: 800px;
    width: 100%;
}
.item_content.on .content .copyright{
	display: block;
	padding: 30px 0 70px 0;
	font-size: 14px;
	color: #646464;
	text-align: center;
}
.item_content.on .empty{
	padding-top: 90px;
    text-align: center;
    font-size: 20px;
    line-height: 40px
}
.item_content.on .btn-review {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    top: -45px;
    right: 0;
    line-height: 35px;
    background-color: #424242;
    padding: 0 25px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.item_content.on .table {
	border-bottom: 1px solid #cacaca;
}
.item_content.on .table .tr {
	display: block;
	cursor: pointer;
	position: relative;
}
.item_content.on .table .tr:after {
    display: block;
    content: " ";
    clear: both;
}
.item_content.on .table .tr .td {
	width: 150px;
	min-height:62px;
	display: block;
	float: left;
	font-size: 18px;
	color: #000000;
	text-align: center;
	line-height: 62px;
}
.item_content.on .table .tr .td.type2 {
	width: 740px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item_content.on .table .ps {
	display: none;
}
.item_content.on .table .ps.on {
	display: block;
	position: relative;
	padding: 0 0 50px 150px;
	background-color: #fafafa;
	border-top: 1px solid #cacaca;
}
.item_content.on .table .ps.on .ps_score {
    position: absolute;
    top: 12px;
    left: 44px;
    width: 62px;
    height: 62px;
    background: url(/images/ver1/shop/img_postscript_score.png?v=20180814) no-repeat center;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding: 6px 0 0 8px;
}
.item_content.on .table .ps.on .ps_sub1 {
    padding: 37px 0 37px 0;
}
.item_content.on .table .ps.on .ps_sub1 span {
    display: block;
    float: left;
    padding: 0 35px;
    font-size: 17px;
    color: #000000;
    position: relative;
}
.item_content.on .table .ps.on .ps_sub1:after {
    display: block;
    content: " ";
    clear: both;
}
.item_content.on .table .ps.on .ps_sub2 {
    padding: 25px 25px 0 0;
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    border-top: 1px solid #cacaca;
}
.item_content.on .table .ps.on .ps_sub3 {
    padding: 25px 0 0 0;
}
.item_content.on .table .ps.on .ps_sub3 img {
    max-width: 800px;
    margin: 10px 0 0 0;
}
.item_content.on .paging {
	padding:35px 0 50px 0;
	text-align: center;
}
.item_content.on .paging .box{
	display: inline-block;
}
.item_content.on .paging .box a {
    line-height: 35px;
    font-size: 15px;
    padding: 0 15px;
    float: left;
}
.item_content.on .paging .box .btn_pageon {
    color: #df2e38;
    font-size: 16px;
    font-weight: bold;
}
.item_content.on .paging .box .opacity {
    opacity: 0.3;
}

.item_content.on .btn-QnA {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    top: -45px;
    right: 0;
    line-height: 35px;
    background-color: #424242;
    padding: 0 25px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.item_content.on .table .ps.on .qna {
    display: block;
    position: relative;
    line-height: 28px;
    font-size: 16px;
    color: #000000;
    padding: 35px 35px 0 0;;
}
.item_content.on .table .ps.on .qna span{
    position: absolute;
    top: 35px;
    left: -150px;
    width: 150px;
    font-size: 28px;
    color: #ff8e8e;
    text-align: center;
}
.full-screen{
	display: none;
	position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: rgba(0,0,0,0.4);
    z-index: 4;
}
.full-screen-close{
	width: 100%;
	height: 100%;
}
.overlay-header{
    line-height: 62px;
    font-size: 20px;
    color: #000000;
    border-bottom: 1px solid #d2d2d2;
}
.overlay-close {
    border: 0;
    padding: 0;
    margin: 0 10px 0 0;
    float: right;
    width: 20px;
    height: 62px;
    background: url("../../Images/item/cart_x.png") no-repeat center;
    background-size: 20px 20px;
    cursor: pointer;
}
.qna-overlay{
	display: none;
    position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	width: 682px;
	background-color: #ffffff;
    padding: 0 13px;
    z-index: 1;
}
.qna-overlay .input {
    display: block;
    padding: 0 0 0 145px;
    margin: 15px 0 0 0;
    line-height: 57px;
    font-size: 16px;
    color: #000000;
}
.qna-overlay .input .tt {
    display: block;
    position: absolute;
    left: 15px;
    padding: 0 0 0 15px;
    color: #6d6d6d;
}
.qna-overlay .input input[type=text] {
    border: 0;
    font-size: 16px;
    height: 57px;
    padding: 0 15px;
    border-radius: 5px;
    width: 100%;
    color: #000000;
    background-color: #f3f3f3;
}
.qna-overlay .input select {
    border: 1px solid #767676;
    width: 245px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 55px;
    border-radius: 5px;
    color: #000000;
    height: 57px;
    background: url("../../Images/order/sel_arrow.png") no-repeat right 20px center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance:none; /* 화살표 없애기 for chrome*/
}
.qna-overlay .input select::-ms-expand{
	display:none; /*화살표 없애기 for IE10, 11*/
}
.qna-overlay .input textarea {
    font-family: 'Spoqa Han Sans', 'Malgun Gothic', Dotum, Gulim, Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
    height: 105px;
    border: 0;
    background-color: #f3f3f3;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    outline: none;
    resize: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
.qna-overlay .input .etc {
    display: block;
    font-size: 12px;
    color: #9e9e9e;
    line-height: 16px;
    margin: 0;
}
.qna-overlay .PrivacyCheck {
    border-top: 1px solid #d2d2d2;
    padding: 15px 0 0;
    margin: 20px 0 0 0;
}
.qna-overlay .PrivacyCheck b {
    margin: 0 0 0 0;
    padding: 0;
    color: #333333;
    font-size: 16px;
    font-weight: normal;
}
.qna-overlay .PrivacyCheck b input[type=checkbox] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 27px;
    height: 27px;
}
.qna-overlay .PrivacyCheck b input[type=checkbox]:checked {
    background-image: url(../../Images/order/check_27.png);
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: center;
}
.qna-overlay .PrivacyCheck p {
    margin: 10px 0 20px 0;
    padding: 10px;
    border: 1px solid #d2d2d2;
    font-size: 13px;
    line-height: 140%;
    color: #666666;
}
.qna-overlay .button {
    display: block;
    text-align: center;
    margin: 30px 0 35px 0;
}
.qna-overlay .button .btnRegProductQna {
    margin: 0;
    border: 0;
    padding: 0 78px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
}
.delivery-overlay{
	display: none;
    position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	width: 450px;
	background-color: #ffffff;
    padding: 0 13px;
    z-index: 1;
}
.delivery-overlay .delivery-contents{
	margin: 20px 0 35px 0;
	font-size: 13px;
}
.share-overlay{
	display: none;
    position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	width: 260px;
	background-color: #ffffff;
    padding: 0 13px;
    z-index: 1;
}
.share-overlay .share-contents{
	padding: 25px 0 25px 0;
	text-align: center;
}
.share-overlay .share-contents img{
	padding: 0 18px 0 18px;
}





