@charset "UTF-8";

.content {
    width: 1100px;
    margin: 50px auto;
    max-width: 1200px;
}

.info {
    position: relative;
    height: 38px;
    padding: 20px 0px;
}

.info .select_box {
    float: right;

}

.select_box select {
    border: 1px solid black;
    border-radius: 5px;
    height: 38px;
    width: 140px;
}

.category {
    height: 25px;
    margin-top: 20px;
}

.category .category_menu {
    position: relative;
}

.category span a {
    color: #999999;
    display: inline-block;
    font-size: 13px;
    height: 100%;
    text-decoration: none;
    line-height: 100%;
}

.category span {
    padding: 0px 15px;
}

.category .category_menu::before {
    position: absolute;
    display: block;
    content: " ";
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #999999;
}

.head_img {
  	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.ul_list li {
    list-style: none;
    float: left;
    padding-bottom: 30px;
}

.total_count {
    position: absolute;
    left: 30px;
    top:0;
}

.total_count b {
    font-size: 25px;
}

.item_list {
    background-color: turquoise;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.item_list .item a {
    text-decoration: none;
    cursor: pointer;
}

.item_list .item span {
    display: block;
    content: ' ';
}

.item_list .item_img {
    width: 215px;
    height: 215px;
}

.item_list .shopping_basket {
    position: relative;
    overflow: hidden;
}

.item_list .shopping_basket .shopping_basket_icon {
    width: 215px;
    height: 60px;
    position: absolute;
    top: 150%;
    transition: all .35s;
    background: rgba(0, 0, 0, .3);
    font-size: 2em;
    color: white;
    letter-spacing: 10px;
}

.item_list .ul_list .item a:hover .shopping_basket_icon {
    top: 70%;
}

.paging {
    padding-top: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    clear: both;
    text-align: center;
}

.pager-left_box,
.pager-right_box {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 5px;
    cursor: pointer;
}

.pager-left_box::before,
.pager-left_box::after,
.pager-right_box::after,
.pager-right_box::before {
    content: ' ';
    display: inline-block;
    width: 2px;
    height: 15px;
    background-color: #999999;
    position: absolute;
    transform-origin: left top;
}

.pager-left_box::before {
    top: 18px;
    left: 11px;
    transform: rotate(-135deg);
}

.pager-left_box::after {
    top: 17px;
    left: 9.5px;
    transform: rotate(-45deg);
}

.pager-right_box::before {
    top: 18px;
    right: 8.5px;
    transform: rotate(135deg);
}

.pager-right_box::after {
    top: 17px;
    right: 10px;
    transform: rotate(45deg);
}

.paging span {
    cursor: pointer;
}

.paging span a {
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    margin: 0 5px 30px 10px;
    line-height: 15px;
    vertical-align: middle;
}

.categoryName {
	font-size: 3em;
	position: absolute;
	left: 30px;
	bottom: 10px;
}