@charset "UTF-8";


@media (max-width:1199px) {
	input[type=password], input[type=tel],
	input[type=text] {padding:0 0.78125rem; line-height:3rem; height:3rem; font-size:0.875rem;}

	.textarea {padding:0.78125rem;}
	.textarea textarea {line-height:1.2rem; height:6rem; font-size:0.875rem;}

	.CartWrap {width:100%; margin:2rem auto 2rem; padding:0 0.5625rem;}
	.CartWrap h1 {width:100%; height:1.1875rem; line-height:1.1875rem; font-size:1.1875rem;}
	.CartWrap select {padding:0 0.5rem; width:100%; margin:0 0 0.3rem 0; line-height:1rem; height:1.7rem; font-size:0.75rem; background-size:2.25rem 0.5625rem; background-image:url(../../Images/order/select_bg_m.png);}


	.CartEmpty {line-height:1.25rem; font-size:0.8rem;}
	.CartEmpty span.EmptyImage {margin:2.5rem 0 2.75rem 0; width:auto; height:8.5625rem; background-size:auto 100%; background-image:url(../../Images/order/cart_empty_m.png); background-position:center; }
	.CartEmpty a {width:8.75rem; height:3rem; line-height:3rem; font-size:1rem; margin:1.3rem auto 0;}

	.CartForeign {margin-top:1.5rem;}
	.CartForeign a {height:2.4rem; line-height:2.4rem; font-size:0.93rem;}

	.CartCount {line-height:0.8rem; font-size:0.8rem; padding:1.5rem 0 1.5rem 0;}
	.CartCount b {font-size:0.9rem;}

	a.CartButton     {width:4.6rem; height:1.7rem; line-height:1.575rem; font-size:0.75rem; margin:0 0.3rem 0 0;}
	a.CartButtonDark {width:4.6rem; height:1.7rem; line-height:1.575rem; font-size:0.75rem;}
	a.CartButtonX    {display:inline-block; width:1.25rem; height:1.25rem; background-size:1.25rem 1.25rem;}

	.CartList {margin:0.5rem 0;}

	.trCart dt {}
	.trCart dt.tdCheck {width:1.0625rem;}
	.trCart dt.tdImage {width:5rem;}
	.trCart dt.tdImage a {width:4.0625rem; height:4.0625rem; margin:1.3rem auto;}
	.trCart dt.tdImage a img {width:4.0625rem; height:4.0625rem;}
	.trCart dt.tdImage span {width:4.0625rem; height:4.0625rem; margin:1.3rem auto;}
	.trCart dt.tdImage span img {width:4.0625rem; height:4.0625rem;}

	.trCart dt.tdInner {padding:1.3rem 0;}

	.trInfo dd {}
	.trInfo dd.tdDelete {width:1.25rem;}
	.trInfo dd.tdBtn1 {width:4.9rem;}
	.trInfo dd.tdBtn2 {width:4.6rem;}

	.CartListItemName {font-size:0.8rem; line-height:1.0rem; padding:0 0 0.2rem 0;}
	.CartListPrice {font-size:0.7rem; line-height:0.7rem; padding:0.1rem 0 0.6rem 0;}

	.CartPrice {margin:0.7rem 0 0.7rem; padding:1rem 1.25rem;}
	.CartPrice .PriceDetail {float:none; width:100%;}
	.CartPrice .PriceTotal {float:none; width:100%; font-size:0.8rem; line-height:0.8rem; padding:0.8rem 0 0 0;}
	.CartPrice .PriceTotal span {font-size:1.2rem;}

	.trCartPrice dt {line-height:1.5rem; font-size:0.75rem;}
	.trCartPrice dd {line-height:1.5rem; font-size:0.75rem; text-align:right;}
	.trCartPrice dd img {height:1rem; margin:0.3rem 0.1rem 0.2rem 0.1rem;}


	.CartBuyButton {float:none; width:100%; text-align:center;}
	.CartBuyButton a {display:block; width:9.4rem; height:2.6rem; line-height:2.6rem; font-size:1rem; margin:0 auto; }
	.CartComment {float:none; width:100%; line-height:0.9rem; font-size:0.6rem; margin:0.9rem 0 0 0;}

	.ItemListChangeOption {padding:0.3rem 0 0 0; margin:0.3rem 0 0 0;}
	.ItemListChangeOption li.OptionIdx {float:none;}
	.ItemListChangeOption li.Qty {float:left;}
	.ItemListChangeOption li.Qty p {width:6.5rem; height:1.7rem;}
	.ItemListChangeOption li.Qty p a {width:28%; line-height:1.575rem; font-size:1rem;}
	.ItemListChangeOption li.Qty p input {width:44%; line-height:1.575rem; font-size:0.75rem;}
	.ItemListChangeOption li.Btn {float:right;}



	.OrderWrap {width:100%; margin:2rem auto 2rem; padding:0 0.5625rem;}
	.OrderWrap h1 {width:100%; height:1.1875rem; line-height:1.1875rem; font-size:1.1875rem;}
	.OrderWrap h1 img {width:0.59375rem; height:1rem; vertical-align:top; margin:0.15rem 0.5rem 0 0;}
	.OrderWrap select {padding:0 0.78125rem; line-height:3rem; height:3rem; font-size:0.875rem; background-size:2.25rem 0.5625rem; background-image:url(../../Images/order/select_bg_m.png);}

	.OrderComplete {line-height:1.25rem; font-size:0.7rem;}
/*	.OrderComplete span.CompleteImage {display:block; margin:50px auto 40px; width:250px; height:276px; background-size:250px 276px; background-image:url(../../Images/Ver1/Order/ordercomplete_pc.png); background-repeat:no-repeat;}*/
	.OrderComplete span.CompleteImage {margin:2.5rem auto 2.75rem; width:12rem; height:13.23rem; background-size:12rem 13.23rem; background-image:url(../../Images/order/ordercomplete_m.png);}
	.OrderComplete b {font-size:0.85rem; line-height:0.85rem; margin:0 0 1rem 0;}
	.OrderComplete a.btn1 {width:8rem; height:3rem; line-height:3rem; font-size:1rem;}
	.OrderComplete a.btn2 {width:8rem; height:3rem; line-height:3rem; font-size:1rem; font-weight:normal;}

	.SectionItemList {margin:1.25rem 0 2rem 0;}
	.SectionMember   {float:null; width:100%; border-right-width:0; padding:2rem 0 0 0;}
	.SectionDiscount {float:null; width:100%; padding:2rem 0 0 0;}
	.SectionMidLine  {display:none;}
	.SectionPayType  {float:null; width:100%; border-right-width:0; padding:2rem 0 0 0;}
	.SectionPrice    {float:null; width:100%; padding:2rem 0 0 0;}

	.OrderInfoTitle {margin:0 0 0 0; padding:1.1875rem 0;}
	.OrderInfoTitle h2 {font-size:0.9375rem; line-height:0.9375rem;}
	.OrderInfoTitle h2 a {width:1.0625rem; height:0.9375rem; background-size:1.0625rem 0.5625rem;}
	.OrderInfoTitle h2 a.Open  {background-image:url(../../Images/order/m_arrow_up.png);}
	.OrderInfoTitle h2 a.Close {background-image:url(../../Images/order/m_arrow_down.png);}
	.OrderInfoTitle h2 small {font-size:0.8rem; line-height:0.8rem; width:64%; margin:0 0 0 0.5rem;}

	.OrderItemList {margin:0 0 0 0; padding:0.5rem 0;}

	.trOrderItem dt {}
	.trOrderItem dt.tdImage {width:4.7rem;}
	.trOrderItem dt.tdImage span {width:4.0625rem; height:4.0625rem; margin:0.3125rem 0;}
	.trOrderItem dt.tdImage span img {width:4.0625rem; height:4.0625rem;}
	.trOrderItem dt.tdImage a {width:4.0625rem; height:4.0625rem; margin:0.3125rem 0;}
	.trOrderItem dt.tdImage a img {width:4.0625rem; height:4.0625rem;}
	.trOrderItem dt.tdInner {padding:0.3125rem 0;}
	.trOrderItem dt.tdPrice {width:4.7rem; font-size:0.8rem; line-height:1.5rem;}
	.trOrderItem dt.tdPrice img {height:1rem; margin:0.3rem 0.1rem 0.2rem 0.1rem;}

	div.gap20px {height:1rem;}
	p.null  {height:0.5625rem;}
	p.readonly {line-height:3rem; height:3rem; font-size:0.875rem;}
	span.MobileBr {display:inline;}

	.ItemCouponStamp { margin:0 !important; height:0.8rem !important; }
	.ItemCouponText { margin-left:0.25rem; color:#ff6c00; font-size:0.8rem; }
	.ItemCouponBox { margin-top:0.25rem; }
	.tdPrice { width:8rem !important; }
	.MobileBr { display:inline-block !important; }

	.tdPrice .grade1 { margin-left:0.25rem; }
	.tdPrice .grade1 img { margin-bottom:0; }
	.tdPrice .grade2 { margin-left:0.25rem; }
	.tdPrice .grade2 img { margin-bottom:0; }
	.tdPrice .grade3 { margin-left:0.25rem; }
	.tdPrice .grade3 img { margin-bottom:0; }
	.tdPrice .grade4 { margin-left:0.25rem; }
	.tdPrice .grade4 img { margin-bottom:0; }
	.tdPrice .grade5 { margin-left:0.25rem; }
	.tdPrice .grade5 img { margin-bottom:0; }

	.trOrderRadio dt {width:6rem; line-height:1.0625rem; font-size:0.75rem; padding:0 0 0.5625rem 0;}
	.trOrderRadio dd {width:*; line-height:1.0625rem; font-size:0.75rem; padding:0 0 0.5625rem 0;}

	.trOrder dt {width:5rem; line-height:3rem; font-size:0.75rem;}
	.trOrder dd {width:*;}

	.trOrder dd.blank  {width:0.875rem; font-size:0.7rem; line-height:3rem;}

	.trOrder dd.checkbox {width:38%; color:#646464; line-height:1.0625rem; height:1.0625rem; font-size:0.8rem;}

	.trOrder dd.quota {width:8rem; line-height:3rem;}
	.trOrder dd.quota a {height:3rem; line-height:3rem; font-size:0.875rem;}

	.trOrder dd.okcashbag  {line-height:3rem;}
	.trOrder dd.zipcode  {width:7rem; line-height:3rem;}
	.trOrder dd.okcashbag a,
	.trOrder dd.zipcode a {height:3rem; line-height:3rem; font-size:0.875rem;}
	.trOrder dd.okcomment {line-height:1.0625rem; font-size:0.75rem;}
	.trOrder dd.findpw {width:7rem;}

	.trOrder dt.mileage {width:10rem;}
	.trOrder dt.twoLine {line-height:1rem; padding:0.5rem 0;}

	.trOrder a.PwdModify {width:100%; line-height:3rem; height:3rem; font-size:0.875rem;}
	.trOrder a.btnCancel {line-height:2.9rem; height:3rem; color:#000000; font-size:1rem;}
	.trOrder a.btnModify {line-height:3rem; height:3rem; color:#ffffff; font-size:1rem; font-weight:bold;}

	.trOrder a.btnForeign {width:60%; height:1.8rem; line-height:1.8rem; font-size:0.8rem;}

	.DeliveryInfo {margin-bottom:0.5625rem;}
	.DeliveryInfo a {height:2.2rem; line-height:2.2rem; font-size:0.875rem;}

	.ModifyShipAddr,
	.DeliverySelect {line-height:1.0625rem; font-size:0.8rem;}
	.ModifyShipAddr,
	.DeliverySelect input {margin-left:5rem;}

	#CouponIdxSelect_Goods {padding:0.5625rem 0.78125rem;; font-size:0.75rem; line-height:1.5rem;}

	.PayTypeRadio {line-height:1.0625rem; font-size:0.75rem; margin:0 0 0.5625rem 0;}

	.PayTypeComment {border:1px solid #646464; border-radius:5px;}
	.PayTypeComment .AgreeBox {padding:0.5625rem;}
	.PayTypeComment .AgreeAll {line-height:1.0625rem; font-size:0.75rem;}
	.PayTypeComment .AgreeTable {padding:0.5625rem; margin:0.5625rem 0 0 0; font-size:0.7rem; line-height:1rem;}
	.PayTypeComment .AgreeComment {line-height:1rem; font-size:0.7rem;}
	.PayTypeComment .AgreeComment b {font-size:0.85rem; line-height:0.85rem; margin:0 0 0.3rem;}

	.trOrderAgree dt {width:3.2rem; line-height:1.0625rem; font-size:0.75rem;}
	.trOrderAgree dd {width:*; line-height:1.0625rem; font-size:0.75rem;}


	.trPrice dt {line-height:1.6rem; font-size:0.8rem;}
	.trPrice dd {line-height:1.6rem; font-size:0.8rem;}

	.trPrice dd img {height:1rem; margin:0.3rem 0.1rem 0.2rem 0.1rem;}

	.trPrice dt a {width:0.9rem; height:0.9375rem; margin:0.4rem 0 0.2625rem 0.3rem; background-size:1.0625rem 0.5625rem;}
	.trPrice dt a.Open  {background-image:url(../../Images/order/m_arrow_up.png);}
	.trPrice dt a.Close {background-image:url(../../Images/order/m_arrow_down.png);}


	#DiscountPriceInfo {margin:0.5625rem 0 0 0; padding:0.6rem;}

	.TotalPriceAmount {margin:0.8rem 0 0 0; padding:1.2rem 0; font-size:1rem; line-height:0.8rem;}
	.TotalPriceAmount span#TotalPriceAmount {font-size:1.5rem;}
	.TotalPriceAmount small {font-size:0.8rem;}

	.OrderPayAgree {line-height:1.0625rem; font-size:0.75rem; text-align:left; padding:1rem 0 0.5rem;}
	.OrderPayAgree input[type=checkbox] {margin:0 0.3rem 1rem 0; float:left;}

	a#CallSixNum,
	a#CheckSixNum {line-height:3rem; height:3rem; font-size:0.875rem;}

	a.LayerCloseBtn {width:15rem; line-height:3rem; height:3rem; color:#ffffff; font-size:1rem;}

	.SectionLayer {padding:1.5rem 0 1rem; line-height:1.2rem; font-size:0.7rem;}

	table.InicisQuota {border-collapse:collapse; margin:0 0 0.5rem 0;}
	table.InicisQuota th {font-size:0.625rem; line-height:2.5rem; font-weight:normal;}
	table.InicisQuota td {font-size:0.625rem; line-height:1.5rem; letter-spacing:-1px;}

	.PayAgreementWrap {width:100%;}

	.BottomFix {display:block; position:fixed; z-index:1700; width:100%; left:0; bottom:0; background-color:#000000; opacity:0.9; color:#ffffff; padding:0.78125rem 1.875rem;}
	.BottomFix .OrderPayAgree2 {display:block; color:#ffffff; line-height:1.0625rem; font-size:0.8rem; text-align:left; padding:0 0 0.5rem;}
	.BottomFix .OrderPayAgree2 input[type=checkbox] {margin:0 0.3rem 1rem 0; float:left;}
	.BottomFix a {display:block; width:100%; padding:0; text-align:center; margin:0; line-height:3rem; height:3rem; color:#ffffff; font-size:1.1rem; border:0; background-color:#e71e22; border-radius:5px; font-weight:bold;}


/*구매금액별 사은품 증정 선택 영역*/
	.GiftBox { margin-bottom:0;  }
	.GiftBox .explain { font-size:0.9375rem; color:#000000; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; padding:1.1875rem 0; }
	.GiftBox .howmuch { font-weight:bold; font-size:0.9375rem; color:#4a4997; padding:1.25rem 0 0.9375rem 0; }
	.GiftBox .whatgift ul:after { content:" "; display:block; clear:both; }
	.GiftBox .whatgift li { height:auto; text-align:center; background-color:#edebf9; padding:0.9375rem 0; }
	.GiftBox .whatgift li span.btn { display:block; text-align:center; margin-bottom:0.625rem; }
	.GiftBox .whatgift li img { width:6rem; height:6rem; margin:0; vertical-align:middle; }
	.GiftBox .whatgift li span.nm { font-size:0.8rem; color:#000000; display:block; vertical-align:middle; text-align:center; margin-top:0.625rem; line-height:1rem; }
	.GiftBox .whatgift li span.nm.pc { display:none; }
	.GiftBox .whatgift li span.nm.mobile { display:block; line-height:}
/*구매금액별 사은품 증정 선택 영역*/
}