@charset "UTF-8";

.loginBody {
	width: auto;
	max-width: 600px;
	margin: 50px auto 70px;
    padding: 0;
}
.topLogin{
	text-align: center;
}
.IdPass input[type="text"]{
	width: 100%;
    padding: 0 22px;
    margin: 10px 0 0 0;
    line-height: 56px;
    height: 56px;
    color: #777777;
    font-size: 15px;
    border: 0;
    background-color: #f3f3f3;
    border-radius: 5px;
}
.joinLink{
	width: 100%;
    height: 27px;
    margin: 0 0 32px 0;
}
.joinLink ul li{
	list-style: none;
}
.loginButton{
	display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 0 0 30px 25px;
}
.img {
	display: block;
	text-align: center;
}
.img img{
	width: 60px;
	margin: 5px;
}
.nonMemberButton{
	display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
    color: #656565;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    border: solid 1px;
    border-color: #656565;
    border-radius: 5px;
    margin: 0 0 30px 25px;
}
.leftWrap{
	position: relative;
}
.rightWrap{
	float: right;










